{% extends 'basic/beta_base.html' %}
{% block title %}{{title}}{% endblock %}
{% block more_head %}
	<script type="text/javascript" src="/media/static/js/phaser.js"></script>
	<script type="text/javascript" src="/media/static/js/extjs.js"></script>
	<script type="text/javascript" src="/media/static/js/game/vars.js"></script>
	<script type="text/javascript" src="/media/static/js/game/kinetic.js"></script>
	<script type="text/javascript" src="/media/static/js/game/map.js"></script>
	<script type="text/javascript" src="/media/static/js/game/building.js"></script>
	<script type="text/javascript" src="/media/static/js/game/render.js"></script>
	<script type="text/javascript" src="/media/static/js/game/game.js"></script>
	<script type="text/javascript" src="/media/static/js/Chart.js"></script>
	<link href="/media/static/css/font-awesome.css" rel="stylesheet">
	<link href="/media/static/css/more_css/game.css" rel="stylesheet">
	<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
	<script src="https://cdn.zingchart.com/zingchart.jquery.min.js"></script>

	<style>
		body {
			background-color: black;
		}

		canvas {
			margin: 1em auto;
		}
	</style>
{% endblock %}
{% block content %}
<div class="align-center">
	<div class="list list--horizontal list--image">
		<div class="list__item olive-fg">
			<div class="game-icon"><img src="/media/game/icons/food.png" alt=""><span>+4</span></div>
		</div>
		<div class="list__item yellow-fg">
			<div class="game-icon"><img src="/media/game/icons/gold.png" alt=""><span>18 768 (+7)</span></div>
		</div>
		<div class="list__item blue-fg">
			<div class="game-icon"><img src="/media/game/icons/science.png" alt=""><span>+7</span></div>
		</div>
		<div class="list__item orange-fg">
			<div class="game-icon"><img src="/media/game/icons/production.png" alt=""><span>+8</span></div>
		</div>
		<div class="list__item u-gray-fg">
			<div class="game-icon"><img src="/media/game/icons/faith.png" alt=""><span>215 (+4)</span></div>
		</div>
		<div class="list__item white-fg">
			<div class="game-icon"><img src="/media/game/icons/tourism.png" alt=""><span>8</span></div>
		</div>
		<div class="list__item yellow-fg">
			<div class="game-icon"><img src="/media/game/icons/happiness.png" alt=""><span>3</span></div>
		</div>
	</div>
</div>

<div class="game-buttons">
	<div class="game-buttons__button science" data-tooltip="Исследования" data-tooltip-invert="true" id="scienceBtn"></div>
	<div class="game-buttons__button production" data-tooltip="Строительство" data-tooltip-invert="true" id="buildingBtn"></div>
	<div class="game-buttons__button faith" data-tooltip="Догматы" data-tooltip-invert="true" id="dogmatsBtn"></div>
	<div class="game-buttons__button stats" data-tooltip="Статистика" data-tooltip-invert="true" id="statsBtn"></div>
</div> 

<div class="modal modal--size-xl science_window" id="scienceModal">
	<div class="title">Технологии</div>
	<div class="science-list" id="availableTechnologies">		
	</div>

	<div class="info" id="scienceInfo">
		
	</div>
	
	<div class="window_splash white-fg" id="scienceSplash" data-type="science_current"></div>

	<div class="teach_button" id="startTeach"></div>
</div>

<div class="modal modal--size-xl buildings_window" id="buildingModal">
	<div class="title">Строительство</div>
	<div class="buildings-list" id="availableBuildingsList">		
	</div>

	<div class="info" id="BuildingInfo">
		
	</div>

	<div class="build_button" id="build_button"></div>
</div>

<div class="modal modal--size-xl stats_window" id="statsModal">
	<div class="title">Статистика</div>
	<div class="tabs-headers" id="availableBuildingsList">		
		<div class="tabs tabs--centered tabs--transparent tabs--invert">
			<div class="tabs__item tabs__item--active" id="statsData">Показатели</div>
			<div class="tabs__item" id="statsPopulation">Население</div>
			<div class="tabs__item" id="statsTourism">Туризм</div>
			<div class="tabs__item" id="statsInfo">Информация</div>
		</div>
	</div>
	<div class="stats_content">
		<div id="stats-chart"></div>
	</div>
</div>


<div class="modal modal--size-xl dogmats_window" id="dogmatsModal">
	<div class="title">Догматы</div>
	<div class="dogmats-headers">
		<div class="column">Первый уровень</div>
		<div class="column">Второй уровень</div>
		<div class="column">Третий уровень</div>
	</div>
	<div class="dogmats-list" id="availableDogmatsList">	
		<div class="column">
				<div class="dogmat first" data-dogmat-level="1">
					Вы получаете <span class="game-icon"><span>+1</span><img src="/media/game/icons/gold.png" alt=""></span> за каждую культурную и туристическую постройку
				</div>
				<div class="dogmat first locked" data-dogmat-level="1">
					<p>Нажмите, чтобы активировать</p>
					<p><span class="game-icon"><span>300</span><img src="/media/game/icons/faith.png" alt=""></span></p>
				</div>
				<div class="dogmat first locked" data-dogmat-level="1">
					<p>Нажмите, чтобы активировать</p>
					<p><span class="game-icon"><span>300</span><img src="/media/game/icons/faith.png" alt=""></span></p>
				</div>
				<div class="dogmat first locked" data-dogmat-level="1">
					<p>Нажмите, чтобы активировать</p>
					<p><span class="game-icon"><span>300</span><img src="/media/game/icons/faith.png" alt=""></span></p>
				</div>
				<div class="dogmat first locked" data-dogmat-level="1">
					<p>Нажмите, чтобы активировать</p>
					<p><span class="game-icon"><span>300</span><img src="/media/game/icons/faith.png" alt=""></span></p>
				</div>
			</div>
			<div class="column">
				<div class="dogmat second locked" data-dogmat-level="2">
					<p>Нажмите, чтобы активировать</p>
					<p><span class="game-icon"><span>700</span><img src="/media/game/icons/faith.png" alt=""></span></p>
				</div>
				<div class="dogmat second locked" data-dogmat-level="2">
					<p>Нажмите, чтобы активировать</p>
					<p><span class="game-icon"><span>700</span><img src="/media/game/icons/faith.png" alt=""></span></p>
				</div>
				<div class="dogmat second locked" data-dogmat-level="2">
					<p>Нажмите, чтобы активировать</p>
					<p><span class="game-icon"><span>700</span><img src="/media/game/icons/faith.png" alt=""></span></p>
				</div>
				<div class="dogmat second locked" data-dogmat-level="2">
					<p>Нажмите, чтобы активировать</p>
					<p><span class="game-icon"><span>700</span><img src="/media/game/icons/faith.png" alt=""></span></p>
				</div>
			</div>
			<div class="column">
				<div class="dogmat third locked" data-dogmat-level="3">
					<p>Нажмите, чтобы активировать</p>
					<p><span class="game-icon"><span>1500</span><img src="/media/game/icons/faith.png" alt=""></span></p>
				</div>
				<div class="dogmat third locked" data-dogmat-level="3">
					<p>Нажмите, чтобы активировать</p>
					<p><span class="game-icon"><span>1500</span><img src="/media/game/icons/faith.png" alt=""></span></p>
				</div>
				<div class="dogmat third locked" data-dogmat-level="3">
					<p>Нажмите, чтобы активировать</p>
					<p><span class="game-icon"><span>1500</span><img src="/media/game/icons/faith.png" alt=""></span></p>
				</div>
			</div>	
	</div>
</div>

<div class="modal modal--size-xl" id="dogmats-modal">
	<div class="modal__header">
		<div class="modal__header__title">Догматы</div>
	</div>
	<div class="modal__content">
		<div class="dogmats">
			<div class="grid">
				<div class="col-6">
					<div class="pyramid">
						<div class="round unlocked"></div>
						<div class="round active"></div>
						<div class="round locked"></div>
						<div class="round locked"></div>
						<div class="round locked"></div><br>
						<div class="round locked"></div>
						<div class="round locked"></div>
						<div class="round locked"></div>
						<div class="round locked"></div><br>
						<div class="round locked"></div>
						<div class="round locked"></div>
						<div class="round locked"></div>
					</div>

					<div class="align-center">
						<button>ВЫБРАТЬ</button><br>
						Стоимость догмата: <span class="game-icon"><span>300</span><img src="/media/game/icons/faith.png" alt=""></span>

						<p class="ubuntu" style="font-size: 0.85em;">Для достижения религиозной победы нужно принять все 12 догматов и построить хотя бы одно чудо света</p>
					</div>
				</div>
				<div class="col-6 padding-horizontal-1 size-fix">
					<div class="gamefont yellow-fg" style="font-size: 1.2em">Выберите один из представленных догматов 1-го уровня:</div>
					<div class="dogmats-list">
						<div class="dogmat">Дает <span class="game-icon"><span>1</span><img src="/media/game/icons/gold.png" alt=""></span> за каждую культурную и туристическую постройку</div>
						<div class="dogmat">Дает +10% к вместимости складов</div>
						<div class="dogmat">Дает <span class="game-icon"><span>2</span><img src="/media/game/icons/food.png" alt=""></span> в амбаре и водяной мельнице</div>
						<div class="dogmat">Дает <span class="game-icon"><span>1</span><img src="/media/game/icons/production.png" alt=""></span> на клетках с серебром и золотом</div>
						<div class="dogmat">Дает <span class="game-icon"><span>1</span><img src="/media/game/icons/tourism.png" alt=""></span> за каждую постройку веры</div>
						<div class="dogmat">Многоэтажные дома и небоскребы вмещают на 3 человека больше</div>
						<div class="dogmat">Туристическое агенство и собор дают <span class="game-icon"><span>1</span><img src="/media/game/icons/culture.png" alt=""></span></div>
						<div class="dogmat">Лесопилки дают <span class="game-icon"><span>1</span><img src="/media/game/icons/production.png" alt=""></span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% verbatim %}
<script id="ModalListItemTemplate" type="text/html">
	{{#each available}}
	<div class="icon" data-tooltip="{{name}}" data-type="science" data-id="{{@index}}"><img src="{{icon}}" alt=""></div>
	{{/each}}
</script>

<script id="windowSplashTemplate" type="text/html">
	<div class="technology-list">
		<div class="technology-list__item">
			<img class="technology-list__item__icon img--circle" src="{{icon}}" alt="">
			<div class="technology-list__item__info">
				<div class="technology__list__item__title gamefont">{{name}}</div>					
				<div class="technology__list__item__meta">
					<div class="progress progress--color-blue margin-0 progress--size-thin">
						<div class="progress__active" style="width: {{progress}}%;"></div>
					</div>
				</div>					
			</div>
		</div>
	</div>
</script>

<script id="ModalTechnologyInfo" type="text/html">
	<div class="info__header">
		<div class="info__header__icon">
			<div class="icon"><img src="{{icon}}" alt=""></div>
		</div>
		<div class="info__header__text">
			<div class="info__title">{{name}}</div>
			<div class="info__meta">{{description}}</div>
		</div>
	</div>

	<div class="info__block">
		<div class="info__block__title">Стоимость</div>
		<div class="info__block__p">
			<span class="game-icon"><span>{{sp}}</span><img src="/media/game/icons/science.png" alt=""></span>
		</div>
	</div>

	<div class="info__block">
		<div class="info__block__title">Ветвь развития</div>
		<div class="info__block__p">
			{{#ifCond branch '==' 1}}
				<div class="text">Технологии данной ветки направлены на развитие <span class="game-icon"><img src="/media/game/icons/science.png" alt=""></span> и <span class="game-icon"><img src="/media/game/icons/culture.png" alt=""></span></div>
			{{/ifCond}}
			{{#ifCond branch '==' 2}}
				<div class="text">Технологии данной ветки направлены на увеличение <span class="game-icon"><img src="/media/game/icons/production.png" alt=""></span></div>
			{{/ifCond}}
			{{#ifCond branch '==' 3}}
				<div class="text">Технологии данной ветки направлены на укрепление <span class="game-icon"><img src="/media/game/icons/faith.png" alt=""></span></div>
			{{/ifCond}}
			{{#ifCond branch '==' 4}}
				<div class="text">Технологии данной ветки направлены на добычу <span class="game-icon"><img src="/media/game/icons/food.png" alt=""></span></div>
			{{/ifCond}}
			{{#ifCond branch '==' 5}}
				<div class="text">Технологии данной ветки направлены на получение <span class="game-icon"><img src="/media/game/icons/gold.png" alt=""></span></div>
			{{/ifCond}}
		</div>
	</div>

	<div class="info__block">
		<div class="info__block__title">Доступные постройки и улучшения</div>
		<div class="info__block__p">
			<div class="technology-list">
				{{#each buildings}}
				<div class="technology-list__item">
					<img class="technology-list__item__icon" src="{{icon}}" alt="">
					<div class="technology-list__item__info">
						<div class="technology__list__item__title">{{name}}</div>					
						<div class="technology__list__item__meta">
							{{#each bonus}}
							<span class="game-icon"><span>+{{value}}</span><img src="/media/game/icons/{{type}}.png" alt=""></span>
							{{/each}}
						</div>					
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</script>

<script type="text/html" id="BuildingsListTemplate">
	{{#each this}}
	<div class="icon" data-id="{{@index}}">
		<img src="{{icon}}" alt="">
		{{#if wonder}}
		<div class="action wonder"></div>
		{{/if}}
		{{#if exclusive}}
		<div class="action exclusive"></div>
		{{/if}}
	</div>
	{{/each}}
</script>

<script type="text/html" id="BuildingInfoTemplate">
	<div class="info__header">
		<div class="info__header__text">
			<div class="info__title">{{name}}</div>
			<div class="info__meta">Кузница - стратегически важное здание на первых этапах игры. Кузница позволит вам поднять производство в вашем государстве. </div>
		</div>
		<div class="info__header__icon"><img src="{{icon}}" alt=""></div>
	</div>

	
	{{#if wonder}}
	<span class="game-icon white-fg"><img src="/media/game/icons/wonder.png" alt=""><span>Чудо света</span></span>
	{{/if}}

	<div class="info__block">
		<div class="info__block__title">Стоимость</div>
		<div class="info__block__p">
			<span class="game-icon"><span>{{pp}}</span><img src="/media/game/icons/production.png" alt=""></span>
		</div>
	</div>

	<div class="info__block">
		<div class="info__block__title">Бонусы</div>
		<div class="info__block__p">
			{{#each bonus}}
				<span class="game-icon"><span>+{{value}}</span><img src="/media/game/icons/{{type}}.png" alt=""></span>
			{{/each}}
		</div>
	</div>

	<div class="info__block">
		<div class="info__block__title">Обслуживание</div>
		<div class="info__block__p"><span class="game-icon"><span>1</span><img src="/media/game/icons/gold.png" alt=""></span> в ход</div>
	</div>

	{{#if wonder}}
	<div class="info__block">
		<div class="info__block__title">Чудо света</div>
		<div class="info__block__p">Чудеса света дают существенные бонусы. Постройка хотя бы одного чуда света необходима для любого вида победы. Чудо света можно построить только тогда, когда вы изучите нужную технологию и в вашем инвентаре имеется карточка соответствующего чуда света.</div>
	</div>
	{{/if}}
</script>

<script id="dogmatsChooseWindow" type="text/html">
	<div class="choose-dogmats">		
		<div class="dogmats_list">
			{{#each this}}
				<div class="dogmat level-{{level}}">{{content}}</div>
			{{/each}}
		</div>
	</div>	
</script>
{% endverbatim %}

{% endblock %}