{% extends 'basic/beta_base.html' %}
{% block title %}{{title}}{% endblock %}
{% block more_head %}
	<script type="text/javascript" src="/media/static/js/phaser.js"></script>
	<script type="text/javascript" src="/media/static/js/extjs.js"></script>
	<script type="text/javascript" src="/media/static/js/game/vars.js"></script>
	<script type="text/javascript" src="/media/static/js/game/kinetic.js"></script>
	<script type="text/javascript" src="/media/static/js/game/map.js"></script>
	<script type="text/javascript" src="/media/static/js/game/building.js"></script>
	<script type="text/javascript" src="/media/static/js/game/render.js"></script>
	<script type="text/javascript" src="/media/static/js/game/game.js"></script>
	<script type="text/javascript" src="/media/static/js/Chart.js"></script>
	<link href="/media/static/css/font-awesome.css" rel="stylesheet">
	<link href="/media/static/css/more_css/game.css" rel="stylesheet">
	<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
	<script src="https://cdn.zingchart.com/zingchart.jquery.min.js"></script>

	<style>
		body {
			background-color: black;
		}

		canvas {
			margin: 1em auto;
		}
	</style>
{% endblock %}
{% block content %}
<div class="align-center">
	<div class="grid" id="stats_panel">
		
	</div>
</div>

<div class="game-buttons">
	<div class="game-buttons__button science" data-tooltip="Исследования" data-tooltip-invert="true" id="scienceBtn"></div>
	<div class="game-buttons__button production" data-tooltip="Строительство" data-tooltip-invert="true" id="buildingBtn"></div>
	<div class="game-buttons__button faith" data-tooltip="Догматы" data-tooltip-invert="true" id="dogmatsBtn"></div>
	<div class="game-buttons__button workers" data-tooltip="Расстановка горожан" data-tooltip-invert="true" id="citizensBtn"></div>
	<div class="game-buttons__button stats" data-tooltip="Статистика" data-tooltip-invert="true" id="statsBtn"></div>
</div> 

<div class="modal modal--size-xl science_window" id="scienceModal">
	<div class="title">Технологии</div>
	<div class="science-list" id="availableTechnologies">		
	</div>

	<div class="info" id="scienceInfo">
		
	</div>
	
	<div class="window_splash white-fg" id="scienceSplash" data-type="science_current"></div>

	<div class="teach_button" id="startTeach"></div>
</div>

<div class="left-sidebar">
	<div class="tooltip_window"></div>
	<div class="free_citizens_window">
		<h3>Безработные</h3>
		<p>У вас есть 5 безработных жителей. Нажмите на красные клетки, чтобы заставить жителей их обрабатывать</p>
	</div>
</div>


<div class="modal modal--size-xl buildings_window" id="buildingModal">
	<div class="title">Строительство</div>
	<div class="buildings-list" id="availableBuildingsList">		
	</div>

	<div class="info" id="BuildingInfo">
		
	</div>

	<div class="window_splash white-fg" id="buildingSplash" data-type="building_current"></div>

	<div class="build_button" id="build_button"></div>
</div>

<div class="modal modal--size-xl stats_window" id="statsModal">
	<div class="title">Статистика</div>
	<div class="tabs-headers" id="availableBuildingsList">		
		<div class="tabs tabs--centered tabs--transparent tabs--invert">
			<div class="tabs__item tabs__item--active" id="statsData">Показатели</div>
			<div class="tabs__item" id="statsPopulation">Население</div>
			<div class="tabs__item" id="statsTourism">Туризм</div>
			<div class="tabs__item" id="statsInfo">Информация</div>
		</div>
	</div>
	<div class="stats_content">
		<div id="stats-chart"></div>
	</div>
</div>

<div class="modal modal--size-xl dogmats_window" id="dogmatsModal">
	<div class="title">Догматы</div>
	<div class="dogmats-headers">
		<div class="column">Первый уровень</div>
		<div class="column">Второй уровень</div>
		<div class="column">Третий уровень</div>
	</div>
	<div class="dogmats-list" id="availableDogmatsList">	
	</div>
</div>

<div class="modal modal--size-xl" id="dogmats-modal">
	<div class="modal__header">
		<div class="modal__header__title">Догматы</div>
	</div>
	<div class="modal__content">
		<div class="dogmats">
			<div class="grid">
				<div class="col-6">
					<div class="pyramid">
						<div class="round unlocked"></div>
						<div class="round active"></div>
						<div class="round locked"></div>
						<div class="round locked"></div>
						<div class="round locked"></div><br>
						<div class="round locked"></div>
						<div class="round locked"></div>
						<div class="round locked"></div>
						<div class="round locked"></div><br>
						<div class="round locked"></div>
						<div class="round locked"></div>
						<div class="round locked"></div>
					</div>

					<div class="align-center">
						<button>ВЫБРАТЬ</button><br>
						Стоимость догмата: <span class="game-icon"><span>300</span><img src="/media/game/icons/faith.png" alt=""></span>

						<p class="ubuntu" style="font-size: 0.85em;">Для достижения религиозной победы нужно принять все 12 догматов и построить хотя бы одно чудо света</p>
					</div>
				</div>
				<div class="col-6 padding-horizontal-1 size-fix">
					<div class="gamefont yellow-fg" style="font-size: 1.2em">Выберите один из представленных догматов 1-го уровня:</div>
					<div class="dogmats-list">
						<div class="dogmat">Дает <span class="game-icon"><span>1</span><img src="/media/game/icons/gold.png" alt=""></span> за каждую культурную и туристическую постройку</div>
						<div class="dogmat">Дает +10% к вместимости складов</div>
						<div class="dogmat">Дает <span class="game-icon"><span>2</span><img src="/media/game/icons/food.png" alt=""></span> в амбаре и водяной мельнице</div>
						<div class="dogmat">Дает <span class="game-icon"><span>1</span><img src="/media/game/icons/production.png" alt=""></span> на клетках с серебром и золотом</div>
						<div class="dogmat">Дает <span class="game-icon"><span>1</span><img src="/media/game/icons/tourism.png" alt=""></span> за каждую постройку веры</div>
						<div class="dogmat">Многоэтажные дома и небоскребы вмещают на 3 человека больше</div>
						<div class="dogmat">Туристическое агенство и собор дают <span class="game-icon"><span>1</span><img src="/media/game/icons/culture.png" alt=""></span></div>
						<div class="dogmat">Лесопилки дают <span class="game-icon"><span>1</span><img src="/media/game/icons/production.png" alt=""></span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Обучение -->
<div class="modal modal--invert padding-0" id="intro1">
	<div class="modal__content modal__content--no-padding">
		<img src="/media/game/ui/hello_art.jpg" alt="" class="img--responsive">
		<p class="margin-horizontal-1">Привет, друг! Добро пожаловать в игру! Главная цель в игре - добиться процветания твоей империи. Чтобы это сделать, вам нужно следовать по одному из нескольких путей: культурному, религиозному, торговому или научному! Постройте сильную и процветающую империю!</p>
	</div>
	<div class="modal__footer align-center"><button class="button--color-teal modal__discard">OK</button></div>
</div>

<div class="modal modal--invert padding-0" id="intro2">
	<div class="modal__content">		
		<h3>Давай познакомимся с основами игры!</h3>
		<p><span class="game-icon yellow-fg"><span>Золото</span> <img src="/media/game/icons/gold.png" alt=""></span> - основной ресурс. На золото вы можете обслуживать ваши постройки, а также за золото можно покупать различные вещи.</p>

		<p><span class="game-icon blue-fg"><span>Наука</span> <img src="/media/game/icons/science.png" alt=""></span> - за очки науки вы можете изучать новые технологии (открывать доступ к новым постройкам и возможностям)</p>

		<p><span class="game-icon orange-fg"><span>Производство</span> <img src="/media/game/icons/production.png" alt=""></span> - за очки производства вы можете построить новые здания или улучшить уже существующие</p>

		<p><span class="game-icon pink-fg"><span>Культура</span> <img src="/media/game/icons/culture.png" alt=""></span> - за очки культуры вы будете получать новые земли</p>

		<p><span class="game-icon u-gray-fg"><span>Вера</span> <img src="/media/game/icons/faith.png" alt=""></span> - за очки веры вы можете открывать новые догматы, которые ускорят ваше развитие</p>
	</div>
	<div class="modal__footer align-center"><button class="button--color-teal modal__discard">OK</button></div>
</div>

<div class="modal modal--invert padding-0" id="intro3">
	<div class="modal__content">		
		<h3>Самое главное! Выберите государство, за которые вы хотите сыграть!</h3>
		<p>Выберите государство. Обратите внимание на то, что у каждого государства есть бонус, а также уникальное здание</p>

		<div class="grid">
			<div class="col-5" id="nationsList"></div>
			<div class="col-7 padding-horizontal-1 size-fix" id="nationsContent"></div>
		</div>
	</div>
	<div class="modal__footer align-center"><button class="button--color-green modal__discard">Выбрать</button></div>
</div>
<!-- Конец обучения -->

{% verbatim %}
<script id="ModalListItemTemplate" type="text/html">
	{{#each available}}
	<div class="icon" data-tooltip="{{name}}" data-type="science" data-id="{{@index}}"><img src="{{icon}}" alt=""></div>
	{{/each}}
</script>

<script id="windowSplashTemplate" type="text/html">
	<div class="technology-list">
		<div class="technology-list__item">
			<img class="technology-list__item__icon img--circle" src="{{icon}}" alt="">
			<div class="technology-list__item__info">
				<div class="technology__list__item__title gamefont">{{name}}</div>					
				<div class="technology__list__item__meta">
					<div class="progress progress--color-blue margin-0 progress--size-thin">
						<div class="progress__active" style="width: {{progress}}%;"></div>
					</div>
				</div>					
			</div>
		</div>
	</div>
</script>

<script id="ModalTechnologyInfo" type="text/html">
	<div class="info__header">
		<div class="info__header__icon">
			<div class="icon"><img src="{{icon}}" alt=""></div>
		</div>
		<div class="info__header__text">
			<div class="info__title">{{name}}</div>
			<div class="info__meta">{{description}}</div>
		</div>
	</div>

	<div class="info__block">
		<div class="info__block__title">Стоимость</div>
		<div class="info__block__p">
			<span class="game-icon"><span>{{sp}}</span><img src="/media/game/icons/science.png" alt=""></span>
		</div>
	</div>

	<div class="info__block">
		<div class="info__block__title">Ветвь развития</div>
		<div class="info__block__p">
			{{#ifCond branch '==' 1}}
				<div class="text">Технологии данной ветки направлены на развитие <span class="game-icon"><img src="/media/game/icons/science.png" alt=""></span> и <span class="game-icon"><img src="/media/game/icons/culture.png" alt=""></span></div>
			{{/ifCond}}
			{{#ifCond branch '==' 2}}
				<div class="text">Технологии данной ветки направлены на увеличение <span class="game-icon"><img src="/media/game/icons/production.png" alt=""></span></div>
			{{/ifCond}}
			{{#ifCond branch '==' 3}}
				<div class="text">Технологии данной ветки направлены на укрепление <span class="game-icon"><img src="/media/game/icons/faith.png" alt=""></span></div>
			{{/ifCond}}
			{{#ifCond branch '==' 4}}
				<div class="text">Технологии данной ветки направлены на добычу <span class="game-icon"><img src="/media/game/icons/food.png" alt=""></span></div>
			{{/ifCond}}
			{{#ifCond branch '==' 5}}
				<div class="text">Технологии данной ветки направлены на получение <span class="game-icon"><img src="/media/game/icons/gold.png" alt=""></span></div>
			{{/ifCond}}
		</div>
	</div>

	<div class="info__block">
		<div class="info__block__title">Доступные постройки и улучшения</div>
		<div class="info__block__p">
			<div class="technology-list">
				{{#each buildings}}
				<div class="technology-list__item">
					<img class="technology-list__item__icon" src="{{icon}}" alt="">
					<div class="technology-list__item__info">
						<div class="technology__list__item__title">{{name}}</div>					
						<div class="technology__list__item__meta">
							{{#each bonus}}
							<span class="game-icon"><span>+{{value}}</span><img src="/media/game/icons/{{type}}.png" alt=""></span>
							{{/each}}
						</div>					
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</script>

<script type="text/html" id="BuildingsListTemplate">
	{{#each this}}
	<div class="icon" data-id="{{@index}}">
		<img src="{{icon}}" alt="">
		{{#if wonder}}
		<div class="action wonder"></div>
		{{/if}}
		{{#if exclusive}}
		<div class="action exclusive"></div>
		{{/if}}
	</div>
	{{/each}}
</script>

<script type="text/html" id="BuildingInfoTemplate">
	<div class="info__header">
		<div class="info__header__text">
			<div class="info__title">{{name}}</div>
			<div class="info__meta">Кузница - стратегически важное здание на первых этапах игры. Кузница позволит вам поднять производство в вашем государстве. </div>
		</div>
		<div class="info__header__icon"><img src="{{icon}}" alt=""></div>
	</div>

	
	{{#if wonder}}
	<span class="game-icon white-fg"><img src="/media/game/icons/wonder.png" alt=""><span>Чудо света</span></span>
	{{/if}}

	<div class="info__block">
		<div class="info__block__title">Стоимость</div>
		<div class="info__block__p">
			<span class="game-icon"><span>{{pp}}</span><img src="/media/game/icons/production.png" alt=""></span>
		</div>
	</div>

	<div class="info__block">
		<div class="info__block__title">Бонусы</div>
		<div class="info__block__p">
			{{#each bonus}}
				<span class="game-icon"><span>+{{value}}</span><img src="/media/game/icons/{{type}}.png" alt=""></span>
			{{/each}}
		</div>
	</div>

	<div class="info__block">
		<div class="info__block__title">Обслуживание</div>
		<div class="info__block__p"><span class="game-icon"><span>1</span><img src="/media/game/icons/gold.png" alt=""></span> в ход</div>
	</div>

	{{#if wonder}}
	<div class="info__block">
		<div class="info__block__title">Чудо света</div>
		<div class="info__block__p">Чудеса света дают существенные бонусы. Постройка хотя бы одного чуда света необходима для любого вида победы. Чудо света можно построить только тогда, когда вы изучите нужную технологию и в вашем инвентаре имеется карточка соответствующего чуда света.</div>
	</div>
	{{/if}}
</script>

<script id="dogmatsChooseWindow" type="text/html">
	<div class="choose-dogmats">		
		<div class="dogmats_list">
			{{#each this}}
				<div class="dogmat level-{{level}}">{{content}}</div>
			{{/each}}
		</div>
	</div>	
</script>

<script id="tooltipTemplate" type="text/html">
	{{#if building}}
	{{building}}<br>
	{{/if}}
	{{land}}<br>
	{{#if resource_type}}<div class="resource">{{resource_type}}</div>{{/if}}
	{{#each resources}}
		<span class="game-icon"><span>{{value}}</span><img src="/media/game/icons/{{icon}}.png" alt=""></span>
	{{/each}}
</script>

<script id="citizensWindowTemplate" type="text/html">
	<h2>Расстановка жителей</h2>
	Безработные жители: {{free}}
	Всего жителей: {{count}}
	Вместимость: {{count}}/{{places}}
</script>

<script id="dogmatsWindowList" type="text/html">
	{{#each this}}
		<div class="column">
			{{#each dogmats}}
				{{#if locked}}
					<div class="dogmat {{../class}} locked" data-dogmat-level="{{../level}}" data-dogmat-price="{{../price}}">
						<p>Нажмите, чтобы выбрать</p>
						<p><span class="game-icon"><span>{{../price}}</span><img src="/media/game/icons/faith.png" alt=""></span></p>
					</div>
				{{else}}
					<div class="dogmat {{../class}}" data-dogmat-level="{{../level}}">
						{{content}}
					</div>
				{{/if}}
			{{/each}}
		</div>
	{{/each}}
</script>

<script id="statsPanelTemplate" type="text/html">
	<div class="col-1 padding-05 size-fix olive-fg">
		<div class="game-icon"><img src="/media/game/icons/food.png" alt=""><span>+{{step.food}}</span></div>
	</div>
	<div class="col-1 padding-05 size-fix orange-fg">
		<div class="game-icon"><img src="/media/game/icons/production.png" alt=""><span>+{{step.production}}</span></div>
	</div>
	<div class="col-2 padding-05 size-fix purple-fg">
		<div class="game-icon"><img src="/media/game/icons/culture.png" alt=""><span>{{current.culture}} / {{current.culture_next}} (+{{step.culture}})</span></div>
	</div>
	<div class="col-1 padding-05 size-fix blue-fg">
		<div class="game-icon"><img src="/media/game/icons/science.png" alt=""><span>{{step.science}}</span></div>
	</div>
	<div class="col-1 padding-05 size-fix yellow-fg">
		<div class="game-icon"><img src="/media/game/icons/gold.png" alt=""><span>{{step.gold}}</span></div>
	</div>
	<div class="col-2 padding-05 size-fix white-fg">
		<div class="game-icon"><img src="/media/game/icons/faith.png" alt=""><span>{{current.faith}} (+{{step.faith}})</span></div>
	</div>
	<div class="col-1 padding-05 size-fix white-fg">
		<div class="game-icon"><img src="/media/game/icons/tourism.png" alt=""><span>{{step.tourism}}</span></div>
	</div>
</script>

<script id="nationsListTemplate" type="text/html">
	<div class="user-list user-list--invert" style="max-height: 320px; overflow-y: auto;">
	{{#each this}}
		<div class="user-list__item" data-nation-id="{{id}}">
			<div class="user-list__item__avatar"><img src="{{icon}}" alt=""></div>
			<div class="user-list__item__username">{{title}}</div>
		</div>
	{{/each}}
	</div>
</script>

<script id="nationsContentTemplate" type="text/html">
	{{#if is_locked}}
		<div class="alert alert--color-black">Данное государство уже выбрано другим игроком. Выберите другое государство</div>
	{{/if}}

	<h4 class="helvetica-ultra yellow-fg">Особенность</h4>
	<p>{{bonus}}</p>

	<h4 class="helvetica-ultra yellow-fg">Уникальное здание</h4>
	{{#with building}}
	<div class="technology-list">
		<div class="technology-list__item">
			<img class="technology-list__item__icon" src="{{icon}}" alt="">
			<div class="technology-list__item__info">
				<div class="technology__list__item__title">{{name}}</div>					
				<div class="technology__list__item__meta">
					{{#each bonus}}
					<span class="game-icon"><span>+{{value}}</span><img src="/media/game/icons/{{type}}.png" alt=""></span>
					{{/each}}
				</div>					
			</div>
		</div>
	</div>
	{{/with}}
</script>

<script id="loadingTemplate" type="text/html">
	<div class="game-preload">
		<div class="backstage"></div>
		<div class="content">
			<h2 class="helvetica-ultra">Увеличивайте вашу культуру, чтобы открывать новые земли</h1>
			<h5>Подождите, идет загрузка...</h5>
		</div>
	</div>
</script>
{% endverbatim %}

{% endblock %}

