{% extends 'basic/beta_base.html' %}
{% block title %}{{title}}{% endblock %}
{% block more_head %}
	<script type="text/javascript" src="/media/static/js/phaser.js"></script>
	<script type="text/javascript" src="/media/static/js/extjs.js"></script>
	<script type="text/javascript" src="/media/static/js/game/vars.js"></script>
	<script type="text/javascript" src="/media/static/js/game/kinetic.js"></script>
	<script type="text/javascript" src="/media/static/js/game/map.js"></script>
	<script type="text/javascript" src="/media/static/js/game/building.js"></script>
	<script type="text/javascript" src="/media/static/js/game/render.js"></script>
	<script type="text/javascript" src="/media/static/js/game/game.js"></script>
	<link href="/media/static/css/font-awesome.css" rel="stylesheet">
	<link href="/media/static/css/more_css/game.css" rel="stylesheet">

	<style>
		body {
			background-color: black;
		}

		canvas {
			margin: 1em auto;
		}
	</style>
{% endblock %}
{% block content %}
<div class="align-center">
	<div class="list list--horizontal list--image">
		<div class="list__item olive-fg">
			<div class="game-icon"><img src="/media/game/icons/food.png" alt=""><span>+4</span></div>
		</div>
		<div class="list__item yellow-fg">
			<div class="game-icon"><img src="/media/game/icons/gold.png" alt=""><span>18 768 (+7)</span></div>
		</div>
		<div class="list__item blue-fg">
			<div class="game-icon"><img src="/media/game/icons/science.png" alt=""><span>+7</span></div>
		</div>
		<div class="list__item orange-fg">
			<div class="game-icon"><img src="/media/game/icons/production.png" alt=""><span>+8</span></div>
		</div>
		<div class="list__item u-gray-fg">
			<div class="game-icon"><img src="/media/game/icons/faith.png" alt=""><span>215 (+4)</span></div>
		</div>
		<div class="list__item white-fg">
			<div class="game-icon"><img src="/media/game/icons/tourism.png" alt=""><span>8</span></div>
		</div>
		<div class="list__item yellow-fg">
			<div class="game-icon"><img src="/media/game/icons/happiness.png" alt=""><span>3</span></div>
		</div>
	</div>
</div>
<div style="position: absolute; right: 0;" class="padding-right-3">
	<button class="button--color-blue button--size-large button--rounded button--icon shadow-2" id="scienceBtn"><i class="fa fa-flask"></i> Письменность</button>
	<button class="button--color-orange button--size-large button--rounded button--only-icon shadow-2" id="buildingBtn"><i class="fa fa-wrench"></i></button>
	<button class="button--color-purple button--size-large button--rounded button--only-icon shadow-2"><i class="fa fa-user"></i> 2</button>
	<button class="button--color-olive button--size-large button--rounded button--only-icon shadow-2" id="dogmatsBtn"><i class="fa fa-book"></i></button>
	<button class="button--size-large button--circle button--only-icon shadow-2" id="help_button"><i class="fa fa-question-circle"></i></button>
</div>

<div class="modal modal--size-xl" id="scienceModal">
	<div class="modal__header">
		<div class="modal__header__title">Технологии</div>
	</div>
	<div class="modal__content padding-0">
		<div class="grid">
			<div class="col-4 size-fix">
				<p class="margin-horizontal-1">На данный момент вы производите <span class="game-icon"><span>2</span><img src="/media/game/icons/science.png" alt=""></span> в ход</p>
				<div class="technology-list">
					<div class="technology-list__title">В процессе изучения:</div>
					<div class="technology-list__item">
						<img class="technology-list__item__icon" src="http://dankir.users.photofile.ru/photo/dankir/4048635/xlarge/96876179.jpg" alt="">
						<div class="technology-list__item__info">
							<div class="technology__list__item__title">Письменность</div>
							<div class="technology__list__item__meta"><span class="game-icon"><span>50</span><img src="/media/game/icons/science.png" alt=""></span></div>
						</div>
					</div>

					<div class="technology-list__title">Доступные технологии:</div>
					<div id="availableTechnologies">
					</div>
				</div>
			</div>
			<div class="col-8 size-fix">
				<div class="technology-info" id="scienceInfo">					
					<h1 class="ubuntu">Выберите исследование</h1>
					<p class="ubuntu">Исследуйте новые технологии, чтобы открыть новые здания и стать лидером в своей отрасли. Также новые технологии позволяют открыть улучшения некоторых клеток и зданий.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal modal--size-xl" id="buildingModal">
	<div class="modal__header">
		<div class="modal__header__title">Строительство</div>
	</div>
	<div class="modal__content padding-0">
		<div class="grid">
			<div class="col-4 size-fix">
				<p class="margin-horizontal-1">На данный момент вы производите <span class="game-icon"><span>2</span><img src="/media/game/icons/production.png" alt=""></span> в ход</p>
				<div class="technology-list">
					<div class="technology-list__title">В процессе строительства:</div>
					<div class="technology-list__item">
						<img class="technology-list__item__icon l-yellow-bg" src="/media/game/forge.png" alt="">
						<div class="technology-list__item__info">
							<div class="technology__list__item__title">Кузница</div>
							<div class="technology__list__item__meta"><span class="game-icon"><span>35</span><img src="/media/game/icons/production.png" alt=""></span></div>
						</div>
					</div>

					<div class="technology-list__title">Доступные здания:</div>
					<div class="technology-list__item">
						<img class="technology-list__item__icon l-pink-bg" src="/media/game/storehouse.png" alt="">
						<div class="technology-list__item__info">
							<div class="technology__list__item__title">Склад</div>
							<div class="technology__list__item__meta"><span class="game-icon"><span>10</span><img src="/media/game/icons/production.png" alt=""></span></div>
						</div>
					</div>
					<div class="technology-list__item">
						<img class="technology-list__item__icon u-red-bg" src="/media/game/chapel.png" alt="">
						<div class="technology-list__item__info">
							<div class="technology__list__item__title">Часовня</div>
							<div class="technology__list__item__meta"><span class="game-icon"><span>35</span><img src="/media/game/icons/production.png" alt=""></span></div>
						</div>
					</div>
					<div class="technology-list__item">
						<img class="technology-list__item__icon u-brown-bg" src="/media/game/castle2.png" alt="">
						<div class="technology-list__item__info">
							<div class="technology__list__item__title">Ратуша (2 уровень)</div>
							<div class="technology__list__item__meta"><span class="game-icon"><span>100</span><img src="/media/game/icons/production.png" alt=""></span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-8 size-fix">
				<div class="technology-info">
					<div class="technology-info__top">
						<img src="/media/game/chapel.png" alt="" class="icon u-red-bg">
						<div class="description">
							<div class="title">Часовня</div>
							<div class="desc">Небольшая христианская постройка культового назначения с иконами, не имеющая особого помещения, где располагается алтарь. В часовнях читаются молитвы и акафисты, совершаются молебны, верующие ставят свечи перед почитаемыми иконами и т. п. </div>
						</div>
						<div class="buttons">
							<button class="button--fit">ПОСТРОИТЬ</button>
							<div class="time">около 18 часов</div>
						</div>
					</div>
					<div class="block">
						Стоимость постройки: <span class="game-icon"><span>35</span><img src="/media/game/icons/production.png" alt=""></span>
					</div>
					<div class="block">
						<div class="title">Тип постройки</div>
						<div class="text">Религиозный</div>
					</div>

					<div class="block">
						<div class="title">Бонусы</div>
						<div class="text"><span class="game-icon"><span>1</span><img src="/media/game/icons/faith.png" alt=""></span></div>						
					</div>

					<div class="block">
						<div class="title">Обслуживание</div>
						<div class="text"><span class="game-icon"><span>1</span><img src="/media/game/icons/gold.png" alt=""></span> в ход</div>						
					</div>

					<div class="block">
						<div class="title">Дополнительно</div>
						<div class="text">
							Постройка здания необходима для достижения научной победы <br>
							Можно построить лишь один раз
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal modal--size-xl" id="dogmats-modal">
	<div class="modal__header">
		<div class="modal__header__title">Догматы</div>
	</div>
	<div class="modal__content">
		<div class="dogmats">
			<div class="grid">
				<div class="col-6">
					<div class="pyramid">
						<div class="round unlocked"></div>
						<div class="round active"></div>
						<div class="round locked"></div>
						<div class="round locked"></div>
						<div class="round locked"></div><br>
						<div class="round locked"></div>
						<div class="round locked"></div>
						<div class="round locked"></div>
						<div class="round locked"></div><br>
						<div class="round locked"></div>
						<div class="round locked"></div>
						<div class="round locked"></div>
					</div>

					<div class="align-center">
						<button>ВЫБРАТЬ</button><br>
						Стоимость догмата: <span class="game-icon"><span>300</span><img src="/media/game/icons/faith.png" alt=""></span>

						<p class="ubuntu" style="font-size: 0.85em;">Для достижения религиозной победы нужно принять все 12 догматов и построить хотя бы одно чудо света</p>
					</div>
				</div>
				<div class="col-6 padding-horizontal-1 size-fix">
					<div class="gamefont yellow-fg" style="font-size: 1.2em">Выберите один из представленных догматов 1-го уровня:</div>
					<div class="dogmats-list">
						<div class="dogmat">Дает <span class="game-icon"><span>1</span><img src="/media/game/icons/gold.png" alt=""></span> за каждую культурную и туристическую постройку</div>
						<div class="dogmat">Дает +10% к вместимости складов</div>
						<div class="dogmat">Дает <span class="game-icon"><span>2</span><img src="/media/game/icons/food.png" alt=""></span> в амбаре и водяной мельнице</div>
						<div class="dogmat">Дает <span class="game-icon"><span>1</span><img src="/media/game/icons/production.png" alt=""></span> на клетках с серебром и золотом</div>
						<div class="dogmat">Дает <span class="game-icon"><span>1</span><img src="/media/game/icons/tourism.png" alt=""></span> за каждую постройку веры</div>
						<div class="dogmat">Многоэтажные дома и небоскребы вмещают на 3 человека больше</div>
						<div class="dogmat">Туристическое агенство и собор дают <span class="game-icon"><span>1</span><img src="/media/game/icons/culture.png" alt=""></span></div>
						<div class="dogmat">Лесопилки дают <span class="game-icon"><span>1</span><img src="/media/game/icons/production.png" alt=""></span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% verbatim %}
<script id="ModalListItemTemplate" type="text/html">
	{{#each available}}
	<div class="technology-list__item" data-type="science" data-id="{{@index}}">
		<img class="technology-list__item__icon" src="{{icon}}" alt="">
		<div class="technology-list__item__info">
			<div class="technology__list__item__title">{{name}}</div>
			<div class="technology__list__item__meta"><span class="game-icon"><span>{{sp}}</span><img src="/media/game/icons/science.png" alt=""></span></div>
		</div>
	</div>
	{{/each}}
</script>

<script id="ModalTechnologyInfo" type="text/html">
	<div class="technology-info__top">
		<img src="{{icon}}" alt="" class="icon">
		<div class="description">
			<div class="title">{{name}}</div>
			<div class="desc">{{description}}</div>
		</div>
		<div class="buttons">
			<button class="button--fit" id="startTeach">ИЗУЧИТЬ</button>
			<div class="time">около {{time}} часов</div>
		</div>
	</div>
	<div class="block">
		Стоимость технологии: <span class="game-icon"><span>{{sp}}</span><img src="/media/game/icons/science.png" alt=""></span>
	</div>
	<div class="block">
		<div class="title">Направление исследований</div>
		{{#ifCond branch '==' 1}}
			<div class="text">Технологии данной ветки направлены на развитие <span class="game-icon"><img src="/media/game/icons/science.png" alt=""></span> и <span class="game-icon"><img src="/media/game/icons/culture.png" alt=""></span></div>
		{{/ifCond}}
		{{#ifCond branch '==' 2}}
			<div class="text">Технологии данной ветки направлены на увеличение <span class="game-icon"><img src="/media/game/icons/production.png" alt=""></span></div>
		{{/ifCond}}
		{{#ifCond branch '==' 3}}
			<div class="text">Технологии данной ветки направлены на укрепление <span class="game-icon"><img src="/media/game/icons/faith.png" alt=""></span></div>
		{{/ifCond}}
		{{#ifCond branch '==' 4}}
			<div class="text">Технологии данной ветки направлены на добычу <span class="game-icon"><img src="/media/game/icons/food.png" alt=""></span></div>
		{{/ifCond}}
		{{#ifCond branch '==' 5}}
			<div class="text">Технологии данной ветки направлены на получение <span class="game-icon"><img src="/media/game/icons/gold.png" alt=""></span></div>
		{{/ifCond}}
	</div>
	<div class="block">
		<div class="title">Новые здания</div>
		<div class="text">После изучения данной технологии вы получите возможность построить следующие здания:</div>
		<div class="technology-list">
			{{#each buildings}}
			<div class="technology-list__item">
				<img class="technology-list__item__icon l-yellow-bg" src="{{icon}}" alt="">
				<div class="technology-list__item__info">
					<div class="technology__list__item__title">{{name}}</div>					
					<div class="technology__list__item__meta">
						{{#each bonus}}
						<span class="game-icon"><span>+{{value}}</span><img src="/media/game/icons/{{type}}.png" alt=""></span>
						{{/each}}
					</div>					
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</script>
{% endverbatim %}

{% endblock %}