{% extends 'basic/beta_base.html' %}
{% load humanize %}
{% block title %}{{title}}{% endblock %}
{% block more_head %}
	<!-- <link href="/media/static/css/more_css/timetable.css" rel="stylesheet"/> -->
	<link href="/media/static/css/more_css/index.css" rel="stylesheet"/>
	<!-- <script type="text/javascript" src="/media/static/js/more_js/timetable.js"></script> -->
	<script type="text/javascript" src="/media/static/js/more_js/index.js"></script>
	<script type="text/javascript" src="/media/static/js/phaser.js"></script>
{% endblock %}
{% block content %}
<div class="grid" id="page-content">
	<div class="col-12 padding-5 size-fix padding-t-1 padding-lm-0" style="background-image: url({{ request.user.userprofile.bg.background.url }}); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
		<div class="grid">
			<div class="col-8 col-t-5 col-lm-6">
				<!-- Добавить запись -->
				<div class="card card--no-smooth">
					<form id="sendPostForm">
						<div class="card__header">
							<div class="card__header__title">Добавить запись</div>
						</div>
						<div class="card__content">
							<div class="form form--fit padding-horizontal-0" id="postContent">
								<textarea name="value" class="margin-0 postValueText" id="" rows="3" placeholder="Введите сообщение" id="postValueText"></textarea>
							</div>
							<div class="list list--image list--horizontal">								
								<div class="list__item" id="feed_addpost_attach_image"><img src="/media/img/ic/image.png" alt="">Изображение</div>
								<div class="list__item" id="feed_addpost_attach_doc"><img src="/media/img/ic/document.png" alt="">Документ</div>
								<div class="list__item" id="feed_addpost_attach_event"><img src="/media/img/ic/calendar.png" alt="">Мероприятие</div>
								<div class="list__item" id="feed_addpost_more_attachments"><img src="/media/img/ic/dots.png" alt=""></div>
								<div class="list__item" id="feed_addpost_attach_note" style="display: none;"><img src="/media/img/ic/note.png" alt="" >Заметка</div>
								<div class="list__item" id="feed_addpost_attach_poll" style="display: none;"><img src="/media/img/ic/poll.png" alt="">Опрос</div>
							</div>
							<div class="u-gray-bg padding-1">
								<div class="grid">
									<div class="col-4">Загрузка файлов:</div>
									<div class="col-8">
									</div>
								</div>
							</div>
							<div class="u-gray-bg padding-1">
								<div class="grid">
									<div class="col-4">Выберите мероприятие:</div>
									<div class="col-8">
										<div class="select" id="feed_addpost_event_attachment_select"></div>
									</div>
								</div>
							</div>
							<button class="button--color-{{request.user.userprofile.accent}} margin-left-0" id="sendPost">ОТПРАВИТЬ</button>
						</div>
					</form>
				</div>

				<!-- /// -->

				<!-- Кнопка "Обновить" -->
				<div class="grid-12 align-center">
					<button class="button--circle button--only-icon bold"><i class="flaticon-refresh-single"></i></button>
					<button class="button--circle button--only-icon bold"><i class="flaticon-settings"></i></button>
				</div>				
				<!-- /// -->

				<!-- Показываем ленту -->
				{% for f in feed %}
				<div class="card card--no-smooth">
					<div class="user-list">
						<div class="user-list__item">
							<div class="user-list__item__avatar">
								<img src="{{f.post.login.userprofile.avatar.url}}" class="img--circle" style="height: 32px;">
							</div>
							<div class="user-list__item__username"><b>{{f.post.login.first_name}} {{f.post.login.last_name}}</b><br><span class="m-gray-fg" style="font-size: 0.8em;">{{f.post.pub_date|naturaltime}}</span></div>
						</div>
					</div>

					{% if f.type == 0 %}
					<div class="card__content padding-1">
						{{f.post.value}}
					</div>		

					{% elif f.type == 1 %}
					<div class="card__content padding-1">
						получил достижение<br>
						<div class="horizontal-layout margin-top-1 horizontal-layout--centered">
							<img src="{{f.achievement.icon}}" class="img--circle" style="width: 64px; height: 64px;">
							<div class="column padding-left-1">
								<b>{{f.achievement.title}}</b>
								<div class="m-gray-fg">{{f.achievement.description}}</div>
							</div>
						</div>
					</div>	

					{% elif f.type == 4 %}
					<div class="card__content card__content--no-padding">
						<p class="margin-1">добавил мероприятие:</p>
						<div class="horizontal-layout margin-top-1">
							<div class="column white-fg align-center helvetica-thin {{request.user.userprofile.accent}}-bg padding-1 size-fix" style="flex: 1;">
								<div style="font-size: 4em;">{{f.date.day}}</div>
								<div class="helvetica-bold" style="font-size: 1.5em;">{{f.event.date|date:"E"}}</div>
							</div>
							<div class="column size-fix padding-1 u-{{request.user.userprofile.accent}}-bg" style="flex: 3;">
								<div style="font-size: 1.5em;">{{f.event.title}}</div>
								<div style="font-size: 0.9em;">{{f.event.description|truncatewords:10}}</div>
								<button class="button--size-small button--color-{{request.user.userprofile.accent}} button--icon"><i class="flaticon-ok"></i>Я пойду</button>
								<button class="button--size-small">Подробнее</button>
							</div>
						</div>
					</div>	

					{% elif f.type == 7 %}
					<div class="card__content card__content--no-padding">
						<p class="margin-1">добавил заметку:</p>
						<div class="u-{{request.user.userprofile.accent}}-bg padding-horizontal-1">
							<h2 class="helvetica-thin">{{f.note.title}}</h2>
							<p>{% autoescape off %}{{f.note.content|truncatewords_html:24}}{% endautoescape %}</p>
							<button class="button--size-small button--color-{{request.user.userprofile.accent}}">Открыть</button>
							{% if f.post.login == request.user %}
							<button class="button--size-small bold button--only-icon"><i class="flaticon-edit"></i></button>
							<button class="button--size-small bold button--only-icon"><i class="flaticon-trash"></i></button>
							{% endif %}
						</div>
					</div>	
					{% endif %}

					
					<div class="taskbar">
						<div class="taskbar__item"><i class="flaticon-heart bold"></i></div>
						<div class="taskbar__item" id="commentButton"><i class="flaticon-speach-square bold"></i></div>
						{% if request.user == f.post.login %}
						<div class="taskbar__item taskbar__item--pin-right taskbar__item--hover-color-red bold"><i class="flaticon-trash"></i></div>
						<div class="taskbar__item taskbar__item--pin-right bold"><i class="flaticon-edit"></i></div>
						{% endif %}
					</div>
				</div>
				{% endfor %}

				<!-- /// -->
			</div>
			<div class="col-4 col-t-3 col-lm-6">
				<div class="card card--no-smooth card--image">
					<div class="card__content">
						<div class="horizontal-layout horizontal-layout--centered">
							<img src="{{request.user.userprofile.avatar.url}}" class="img--circle padding-1" style="width: 64px;">
							<div class="column padding-1"><b>{{request.user.first_name}} {{request.user.last_name}}</b>
							<br><span class="m-gray-fg" style="font-size: 0.9em;">1 уровень</span>
							</div>
						</div>
						<div class="progress margin-bottom-0 progress--color-{{request.user.userprofile.accent}} progress--size-thin"><div class="progress__active" style="width:20%"></div></div>
						<div class="{{request.user.userprofile.accent}}-fg" style="font-size: 0.9em;">еще 19 очков опыта до следующего уровня</div>
					</div>					
				</div>

				<div class="card card--no-smooth card--image">
					<div class="card__content">
						<div class="horizontal-layout horizontal-layout--centered">
							<img src="{{game_info.game.nation.icon.url}}" class="img--circle margin-1 shadow-2" style="width: 32px;">
							<div class="column padding-1"><b>{{game_info.game.nation.title}}</b></div>
						</div>
						<div class="grid">
							<div class="col-5">
								<div class="col-6 align-center bold">
									<img src="/media/game/icons/food.png" style="width: 1em; height: 1em;"><br>
									<img src="/media/game/icons/culture.png" style="width: 1em; height: 1em;"><br>
									<img src="/media/game/icons/faith.png" style="width: 1em; height: 1em;">
								</div>
								<div class="col-6 align-center bold">
									+2<br>
									+{{game_info.game.culture|floatformat}} (+{{game_info.stats.culture|floatformat}})<br>
									{{game_info.game.faith|floatformat}} (+{{game_info.stats.faith|floatformat}})
								</div>
							</div>
							<div class="col-5 offset-2">
								<div class="col-6 align-center bold">
									<img src="/media/game/icons/production.png" style="width: 1em; height: 1em;"><br>
									<img src="/media/game/icons/gold.png" style="width: 1em; height: 1em;"><br>
									<img src="/media/game/icons/science.png" style="width: 1em; height: 1em;">
								</div>
								<div class="col-6 align-center bold">
									+{{game_info.stats.production|floatformat}}<br>
									{{game_info.game.gold|floatformat}} (+{{game_info.stats.gold|floatformat}})<br>
									+{{game_info.stats.science|floatformat}}
								</div>
							</div>
						</div>
							
						<div class="progress margin-bottom-0 progress--color-blue progress--size-thin"><div class="progress__active" style="width:{{game_info.technology_progress}}%"></div></div>

						<div class="blue-fg" style="font-size: 0.9em;"><b>
							{% if game_info.latest_technology %}
								{{game_info.latest_technology.technology.name}}</b>. Исследование завершено
							{% else %}
								{{game_info.technology.technology.name}}</b>. Исследовано {{game_info.technology_progress}}% (еще 12 часов)
							{% endif %}
						</div>	

						
						<div class="progress margin-bottom-0 progress--color-orange progress--size-thin"><div class="progress__active" style="width:{{game_info.building_progress}}%"></div></div>

						<div class="orange-fg" style="font-size: 0.9em;"><b>
							{% if game_info.latest_building %}
								{{game_info.latest_building.building.name}}</b>. Строительство окончено
							{% else %}
								{{game_info.building.building.name}}</b>. Завершено {{game_info.building_progress}}% (еще 12 часов)
							{% endif %}
						</div>			

						<div class="card__footer margin-top-1">
							<a href="/game/"><div class="button button--color-{{request.user.userprofile.accent}} button--fit button--transparent align-center">ВОЙТИ В ИГРУ</div></a>
							<button class="button--fit" id="openChest">Открыть сундук</button>
						</div>
					</div>					
				</div>

				<div class="card card--no-smooth margin-1">
					<div class="card__header">
						<div class="card__header__title">Объявления о продаже</div>
					</div>
					<div class="card__content">
						<i class="m-gray-fg">Нет объявлений о продаже</i>
					</div>
					<div class="card__footer align-center">
						<div class="button button--color-{{request.user.userprofile.accent}} button--transparent align-center">ОТКРЫТЬ ВСЕ</div>
						<div class="button button--color-{{request.user.userprofile.accent}} button--transparent align-center">ДОБАВИТЬ</div>
					</div>
				</div>

				<div class="card card--no-smooth margin-1">
					<div class="card__header">
						<div class="card__header__title">Расписание на сегодня</div>
					</div>					
				</div>

				
			</div>
		</div>
	</div>	
</div>

<!-- <script type="text/javascript" id="addFeedComment">
<div class="form form--fit">
	<label for="commentText">Оставьте комментарий:</label>
	<textarea name="" id="commentText" rows="2" placeholder="Текст комментария..."></textarea>
	<button class="button--size-small button--color-{{request.user.userprofile.accent}}">Отправить</button>
</div>
</script> -->

{% verbatim %}
<script id="chestWindow" type="text/html">
	<div id="open-chest">
		<div id="phaser-example"></div>
	</div>	
</script>

<script type="text/html">
	<div class="title">Вы открыли сундук</div>
		<div class="bonus_list">
			{{#if card}}
				<div class="bonus bonus--card bonus--card-{{card.quality}}">
					<img src="{{card.icon}}" alt="" {{#ifCond card.quality '==' 3}}class="flip"{{/ifCond}}>
					<div class="main">{{card.title}}</div>
					<div class="sub">
						{{#ifCond card.quality '==' 0}}Стандартная карточка{{/ifCond}}
						{{#ifCond card.quality '==' 3}}<span class="yellow-fg">Золотая карточка</span>{{/ifCond}}
					</div>
				</div>
			{{/if}}
			{{#if gold}}
				<div class="bonus bonus--resource">
					<img src="/media/img/icons/gold.png" alt="">
					<div class="main">{{gold}}</div>
					<div class="sub">золота</div>
				</div>
			{{/if}}
			{{#if dust}}
				<div class="bonus bonus--resource">
					<img src="/media/img/icons/gems.png" alt="">
					<div class="main">{{dust}}</div>
					<div class="sub">самоцветов</div>
				</div>
			{{/if}}
		</div>
		<div class="footer"><button class="button--color-teal" id="closeChestWindow">ОК</button></div>
</script>
{% endverbatim %}

{% endblock %}