{% extends 'basic/beta_base.html' %}
{% load humanize %}
{% block title %}{{title}}{% endblock %}
{% block more_head %}
	<!-- <link href="/media/static/css/more_css/timetable.css" rel="stylesheet"/> -->
	<link href="/media/static/css/more_css/index.css" rel="stylesheet"/>
	<!-- <script type="text/javascript" src="/media/static/js/more_js/timetable.js"></script> -->
	<script type="text/javascript" src="/media/static/js/more_js/index.js"></script>
{% endblock %}
{% block bodyclass %}u-{{request.user.userprofile.accent}}-bg{% endblock %}
{% block content %}
<div class="grid" id="page-content">
	<div class="col-12 padding-5 size-fix" style="background-image: url(/media/img/index_violet.png); background-position: top center; background-repeat: no-repeat; background-size: 100% auto;">
		<div class="grid">
			<div class="col-8">

				<!-- Добавить запись -->
				<div class="card card--no-smooth">
					<div class="card__header">
						<div class="card__header__title">Добавить запись</div>
					</div>
					<div class="card__content">
						<div class="form form--fit padding-horizontal-0">
							<textarea class="margin-0" id="" rows="3" placeholder="Введите сообщение"></textarea>
						</div>						
						<list class="list list--image list--horizontal">
							<div class="list__item"><img src="/media/img/ic/image.png" alt="">Изображение</div>
							<div class="list__item"><img src="/media/img/ic/document.png" alt="">Документ</div>
							<div class="list__item"><img src="/media/img/ic/poll.png" alt="">Опрос</div>
							<div class="list__item"><img src="/media/img/ic/calendar.png" alt="">Мероприятие</div>
						</list>
						<button class="button--color-{{request.user.userprofile.accent}} margin-left-0">ОТПРАВИТЬ</button>
					</div>
				</div>

				<!-- /// -->

				<!-- Кнопка "Обновить" -->
				<div class="grid-12 align-center">
					<button class="button--rounded"><b>+2</b> новых записей</button>
				</div>				
				<!-- /// -->

				<!-- Показываем ленту -->

				{% for f in feed %}
				<div class="card card--no-smooth">
					<div class="user-list">
						<div class="user-list__item">
							<div class="user-list__item__avatar">
								<img src="{{f.post.login.userprofile.avatar.url}}" class="img--circle" alt="">
							</div>
							<div class="user-list__item__username"><b>{{f.post.login.first_name}} {{f.post.login.last_name}}</b><br><span class="m-gray-fg" style="font-size: 0.8em;">{{f.post.pub_date|naturaltime}}</span></div>
						</div>
					</div>

					{% if f.type == 0 %}
					<div class="card__content padding-1">
						{{f.post.value}}
					</div>		

					{% elif f.type == 1 %}
					<div class="card__content padding-1">
						получил достижение<br>
						<div class="horizontal-layout margin-top-1 horizontal-layout--centered">
							<img src="{{f.achievement.icon}}" class="img--circle" style="width: 64px; height: 64px;">
							<div class="column padding-left-1">
								<b>{{f.achievement.title}}</b>
								<div class="m-gray-fg">{{f.achievement.description}}</div>
							</div>
						</div>
					</div>	

					{% elif f.type == 4 %}
					<div class="card__content card__content--no-padding">
						<p class="margin-1">добавил мероприятие:</p>
						<div class="horizontal-layout margin-top-1">
							<div class="column white-fg align-center helvetica-thin {{request.user.userprofile.accent}}-bg padding-1 size-fix" style="flex: 1;">
								<div style="font-size: 4em;">{{f.date.day}}</div>
								<div class="helvetica-bold" style="font-size: 1.5em;">{{f.event.date|date:"E"}}</div>
							</div>
							<div class="column size-fix padding-1 u-{{request.user.userprofile.accent}}-bg" style="flex: 3;">
								<div style="font-size: 1.5em;">{{f.event.title}}</div>
								<div style="font-size: 0.9em;">{{f.event.description|truncatewords:10}}</div>
								<button class="button--size-small button--color-{{request.user.userprofile.accent}} button--icon"><i class="flaticon-ok"></i>Я пойду</button>
								<button class="button--size-small">Подробнее</button>
							</div>
						</div>
					</div>	
					{% endif %}

					
					<div class="taskbar">
						<div class="taskbar__item"><i class="flaticon-heart bold"></i></div>
						<div class="taskbar__item" id="commentButton"><i class="flaticon-speach-square bold"></i></div>
						{% if request.user == f.post.login %}
						<div class="taskbar__item taskbar__item--pin-right taskbar__item--hover-color-red bold"><i class="flaticon-trash"></i></div>
						<div class="taskbar__item taskbar__item--pin-right bold"><i class="flaticon-edit"></i></div>
						{% endif %}
					</div>
				</div>
				{% endfor %}

				<!-- /// -->

			</div>
			<div class="col-4">
				<div class="card card--no-smooth card--image">
					<div class="card__content">
						<div class="horizontal-layout horizontal-layout--centered">
							<img src="{{request.user.userprofile.avatar.url}}" class="img--circle padding-1" style="width: 64px;">
							<div class="column padding-1"><b>{{request.user.first_name}} {{request.user.last_name}}</b>
							<br><span class="m-gray-fg" style="font-size: 0.9em;">1 уровень</span>
							</div>
						</div>
						<div class="progress margin-bottom-0 progress--color-purple progress--size-thin"><div class="progress__active" style="width:20%"></div></div>
						<div class="purple-fg" style="font-size: 0.9em;">еще 19 очков опыта до следующего уровня</div>
					</div>					
				</div>

				<div class="card card--no-smooth card--image">
					<div class="card__content">
						<div class="horizontal-layout horizontal-layout--centered">
							<img src="/media/game/flags/russia.png" class="img--circle padding-1" style="width: 32px;">
							<div class="column padding-1"><b>Россия</b></div>
						</div>
						<div class="grid">
							<div class="col-5">
								<div class="col-6 align-center bold">
									🍎<br>
									🕮<br>
									🐦
								</div>
								<div class="col-6 align-center bold">
									+2<br>
									+4<br>
									+3
								</div>
							</div>
							<div class="col-5 offset-2">
								<div class="col-6 align-center bold">
									🔨<br>
									$<br>
									👓
								</div>
								<div class="col-6 align-center bold">
									+2<br>
									455 (+4)<br>
									+3
								</div>
							</div>
						</div>
						<div class="progress margin-bottom-0 progress--color-blue progress--size-thin"><div class="progress__active" style="width:44%"></div></div>
						<div class="blue-fg" style="font-size: 0.9em;"><b>Актерская игра</b>. Исследовано 44% (еще 12 часов)</div>
						<div class="progress margin-bottom-0 progress--color-orange progress--size-thin"><div class="progress__active" style="width:83%"></div></div>
						<div class="orange-fg" style="font-size: 0.9em;"><b>Амбар</b>. Завершено 83% (еще 2 часа)</div>
						<div class="card__footer margin-top-1">
							<div class="button button--color-{{request.user.userprofile.accent}} button--fit button--transparent align-center">ВОЙТИ В ИГРУ</div>
						</div>
					</div>					
				</div>

				<div class="card card--no-smooth margin-1">
					<div class="card__header">
						<div class="card__header__title">Расписание на сегодня</div>
					</div>
					<div class="card__content">
						<div class="vertical-layout vertical-layout--stripped">
						{% for t in timetable %}
							<div class="row padding-1 size-fix">
								<b class="{{request.user.userprofile.accent}}">{{t.lesson.title}}</b><br>
								<i style="font-size: 0.9em;">{{t.time}} в {{t.place}}</i>
							</div>
						{% endfor %}
						</div>
					</div>
					<div class="card__footer">
						<div class="button button--color-{{request.user.userprofile.accent}} button--fit button--transparent align-center">ПОДРОБНЕЕ</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" id="addFeedComment">
<div class="form form--fit">
	<label for="commentText">Оставьте комментарий:</label>
	<textarea name="" id="commentText" rows="2" placeholder="Текст комментария..."></textarea>
	<button class="button--size-small button--color-{{request.user.userprofile.accent}}">Отправить</button>
</div>
</script>

{% endblock %}