{% extends 'basic/base.html' %}
{% block title %}{{title}}{% endblock %}
{% block bodyclass %}{{bodyclass}}{% endblock %}
{% block more_head %}
	<script src="/media/static/js/phaser.js"></script>
	<script src="/media/static/js/more_js/boosters.js"></script>
	<script src="/media/static/js/more_js/chart.js"></script>
{% endblock %}
{% block content %}
{% include 'basic/taskbar.html' %}
{% include 'basic/taskbar_end.html' %}
{% load humanize %}
<div class="ui grid">
	<div class="one wide column"></div>
	<div class="four wide column">
		{% include 'basic/profile-side.html' %}
	</div>
	<div class="ten wide column">
		{% include 'basic/profile-nav.html' %}
		<h2>Ваши комплекты</h2>
		<button class="ui green button" id="boostOpen">Открыть комплект</button>
		<br>
		<div id="booster"></div>
	</div>
	<div class="one wide column"></div>
</div>
{% endblock %}