{% extends 'basic/beta_base.html' %}
{% block title %}{{title}}{% endblock %}
{% block more_head %}
	<link href="/media/static/css/more_css/timetable.css" rel="stylesheet"/>
	<script type="text/javascript" src="/media/static/js/more_js/timetable.js"></script>
{% endblock %}
{% block bodyclass %}u-{{request.user.userprofile.accent}}-bg{% endblock %}
{% block content %}
<div class="card  {% if request.user.userprofile.theme == 'dark'%}card--color-black card--colored{%endif%} card--no-smooth margin-horizontal-1">
	<div class="card__content card__content--no-padding">
		
		<div class="grid u-gray-bg">
			<div class="col-5 col-t-4 col-lm-6 col-m-4">
				<button class="button--only-icons button--no-smooth showPrevDay bold margin-0" data-tooltip="Предыдущий день"><i class="flaticon-left1"></i></button>
				<button class="button--only-icons button--no-smooth showNextDay bold margin-0" data-tooltip="Следующий день"><i class="flaticon-right"></i></button>
				<button class="button--no-smooth button--only-icon bold margin-left-1 margin-0" data-tooltip="Обновить"><i class="flaticon-refresh-single"></i></button>
				<button class="button--no-smooth button--only-icon bold margin-0" data-tooltip="Выбрать дату"><i class="flaticon-calendar-ok"></i></button>
				<button class="button--no-smooth button--only-icon bold margin-0 margin-left-1" data-tooltip="Мероприятия"><i class="flaticon-award"></i></button>				
				<button class="button--no-smooth button--only-icon bold margin-0" data-tooltip="Задания"><i class="flaticon-bookmark"></i></button>				
			</div>	
			<div class="col-5 col-t-3 col-lm-5 col-m-4">
				<div class="tabs tabs--transparent tabs--color-{{request.user.userprofile.accent}} tabs--centered" id="switchTabs">
					<div class="tabs__item openDay" data-tab-target="dayView">ДЕНЬ</div>
					<div class="tabs__item openWeek" data-tab-target="weekView">НЕДЕЛЯ</div>
					<div class="tabs__item">МЕСЯЦ</div>
				</div>
			</div>
			<div class="col-2 col-t-1 col-lm-1 align-right">
				<button class="button--no-smooth button--only-icon bold margin-0" data-dropdown-target="appMenu"><i class="flaticon-more"></i></button>
			</div>
		</div>

		<div class="timetable-view">
			<div class="timetable-view__label {{request.user.userprofile.accent}}-bg white-fg" id="timetable-label">
				<div class="timetable-view__label__title"></div>
				<div class="timetable-view__label__meta"></div>
			</div>

			<div class="timetable-view__content" id="dayView">				
			</div>

			<div class="timetable-view__content vertical-layout vertical-layout--stripped" id="weekView">		
				<p>Неделя</p>		
			</div>
		</div>

		<div class="dropdown" id="timetableMenu">
			<div class="dropdown__item" id="dropdownAddHomework">Добавить домашнее задание</div>
			<div class="dropdown__item" id="dropdownAddControl">Добавить контрольную работу</div>
			<div class="dropdown__item" id="dropdownChangePlace">Изменить аудиторию</div>
			<div class="dropdown__item" id="dropdownTransferLesson">Перенести пару</div>
			<div class="dropdown__item" id="dropdownCancelLesson">Отменить пару</div>
		</div>

		<div class="dropdown" id="appMenu">
			<div class="dropdown__item">Добавить пару</div>
			<div class="dropdown__item">Добавить мероприятие</div>
			<div class="dropdown__item">Оценить приложение</div>
			<div class="dropdown__item">Настройки</div>
		</div>

		<!-- <div class="horizontal-layout horizontal-layout--centered">


			
			<div class="column column--centered">
				<div class="button-group">
					<button class="button--icon-only {% if request.user.userprofile.theme == 'dark' %}button--color-white{% else %}button--color-black{% endif %} button--transparent-full showPrevDay"><i class="flaticon-left"></i></button>
					<button class="{% if request.user.userprofile.theme == 'dark' %}button--color-white{% else %}button--color-black{% endif %} bold button--transparent-full" id="currentDayLabel">{% now "j E" %}</button>
					<button class="button--icon-only {% if request.user.userprofile.theme == 'dark' %}button--color-white{% else %}button--color-black{% endif %} button--transparent-full showNextDay"><i class="flaticon-right1"></i></button>
				</div>
			</div>
			<div class="column">
				<div class="tabs tabs--pin-right tabs--transparent {% if request.user.userprofile.theme == 'dark' %}tabs--invert{% endif %}" id="switch-view-tabs">
					<a href="#"><div class="tabs__item tabs__item--active" id="day">День</div></a>
					<a href="#week/20"><div class="tabs__item" id="week">Неделя</div></a>
					<a href="#month"><div class="tabs__item" id="month">Месяц</div></a>
				</div>
			</div>
		</div> -->		
	</div>
</div>	

<div class="modal" id="newFeatures">
	<div class="modal__header">
		<div class="modal__header__title">Новые функции расписания</div>
	</div>
	<div class="modal__content">
		<h3>Новый интерфейс</h3>
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita rerum quasi totam non dolorem sit repellat voluptatem itaque et ab voluptate odit voluptates praesentium molestias veritatis id, eum vel. Ut!</div>
		<div>Aliquam assumenda, cumque facilis laudantium voluptates quaerat accusantium maiores totam dignissimos nihil voluptate eius. Odio, blanditiis, omnis! Sed, voluptatibus maiores! Totam dolorem reprehenderit distinctio ratione, consequuntur error, porro aliquam temporibus!</div>

		<h3>День, неделя, месяц</h3>
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita rerum quasi totam non dolorem sit repellat voluptatem itaque et ab voluptate odit voluptates praesentium molestias veritatis id, eum vel. Ut!</div>
		<div>Aliquam assumenda, cumque facilis laudantium voluptates quaerat accusantium maiores totam dignissimos nihil voluptate eius. Odio, blanditiis, omnis! Sed, voluptatibus maiores! Totam dolorem reprehenderit distinctio ratione, consequuntur error, porro aliquam temporibus!</div>

		<h3>Новые возможности!</h3>
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita rerum quasi totam non dolorem sit repellat voluptatem itaque et ab voluptate odit voluptates praesentium molestias veritatis id, eum vel. Ut!</div>
		<div>Aliquam assumenda, cumque facilis laudantium voluptates quaerat accusantium maiores totam dignissimos nihil voluptate eius. Odio, blanditiis, omnis! Sed, voluptatibus maiores! Totam dolorem reprehenderit distinctio ratione, consequuntur error, porro aliquam temporibus!</div>
	</div>
	<div class="modal__footer align-center">
		<button class="button--color-{{request.user.userprofile.accent}} button--icon" id="startRating"><i class="flaticon-star"></i>Оценить</button><button class="modal__discard">Закрыть</button>
	</div>
</div>

<div class="modal" id="rateApp">
	<div class="modal__header">
		<div class="modal__header__title">Оценить приложение</div>
	</div>
	<div class="modal__content">
		<div class="alert">
			<div class="alert__content">Просим вас уделить минутку вашего времени и оставить отзывы о новых функциях приложения</div>
		</div>

		<div class="grid">
			<div class="col-6 col-lm-6 padding-1 size-fix">Оцените новый интерфейс</div>
			<div class="col-6 col-lm-6 gpadding-1 size-fix">
				<div class="select select--color-{{request.user.userprofile.accent}}" id="rate1"></div>
			</div>
		</div>
		<div class="grid">
			<div class="col-6 col-lm-6 padding-1 size-fix">Оцените удобство обновленного приложения</div>
			<div class="col-6 col-lm-6 gpadding-1 size-fix">
				<div class="select select--color-{{request.user.userprofile.accent}}" id="rate2"></div>
			</div>
		</div>
		<div class="grid">
			<div class="col-6 col-lm-6 padding-1 size-fix">Оцените удобство представления "Неделя" и "Месяц"</div>
			<div class="col-6 col-lm-6 gpadding-1 size-fix">
				<div class="select select--color-{{request.user.userprofile.accent}}" id="rate3"></div>
			</div>
		</div>
		<div class="grid">
			<div class="col-6 col-lm-6 padding-1 size-fix">Оцените скорость работы приложения</div>
			<div class="col-6 col-lm-6 gpadding-1 size-fix">
				<div class="select select--color-{{request.user.userprofile.accent}}" id="rate4"></div>
			</div>
		</div>

		<div class="form form--fit">
			<label for="rateReview">Напишите краткий отзыв</label>
			<textarea id="rateReview" cols="30" rows="5" placeholder="Напишите рекомендации по улучшению или найденные вами ошибки"></textarea>
		</div>
	</div>
	<div class="modal__footer align-center">
		<button class="button--color-{{request.user.userprofile.accent}}">Отправить</button>
	</div>
</div>

<div class="modal" id="addHomeworkModal">
	<div class="modal__header">
		<div class="modal__header__title">Добавить домашнее задание</div>
	</div>
	<div class="modal__content">
		<div class="form form--fit">
			<label for="homeworkInput">Домашнее задание</label>
			<textarea id="homeworkInput" placeholder="Введите домашнее задание"></textarea>
		</div>
	</div>
	<div class="modal__footer align-center"><button class="button--color-{{request.user.userprofile.accent}}">ОК</button><button class="modal__discard">Отмена</button></div>
</div>
<div class="modal" id="addControlModal">
	<div class="modal__header">
		<div class="modal__header__title">Добавить контрольную работу</div>
	</div>
	<div class="modal__content">
		<div class="form form--fit">
			<label for="controlInput">Контрольная работа</label>
			<textarea id="controlInput" placeholder="Введите, что будет в контрольной работе"></textarea>
		</div>
	</div>
	<div class="modal__footer align-center"><button class="button--color-{{request.user.userprofile.accent}}">ОК</button><button class="modal__discard">Отмена</button></div>ОК
</div>
<div class="modal" id="changePlaceModal">
	<div class="modal__header">
		<div class="modal__header__title">Изменить аудиторию</div>
	</div>
	<div class="modal__content">
		<div class="form">
			<label for="placeInput">Номер аудитории</label>
			<input type="text" id="placeInput" placeholder="Введите номер новой аудитории">
		</div>
	</div>
	<div class="modal__footer align-center"><button class="button--color-{{request.user.userprofile.accent}}">ОК</button><button class="modal__discard">Отмена</button></div>
</div>
<div class="modal" id="transferLessonModal">
	<div class="modal__header">
		<div class="modal__header__title">Перенести пару</div>
	</div>
	<div class="modal__content">
		<div class="form form--fit">
			<label for="transfer1Input">Новая дата</label>
			<input type="text" id="transfer1Input" placeholder="Введите новую дату">
			<label for="transfer2Input">Номер пары</label>
			<input type="text" id="transfer2Input" placeholder="Введите новую дату">
			<label for="transfer3Input">Номер аудитории</label>
			<input type="text"  id="transfer3Input" placeholder="Введите номер аудитории">
		</div>
	</div>
	<div class="modal__footer align-center"><button class="button--color-{{request.user.userprofile.accent}}">ОК</button><button class="modal__discard">Отмена</button></div>
</div>
<div class="modal" id="cancelLessonModal">
	<div class="modal__header">
		<div class="modal__header__title">Отменить пару</div>
	</div>
	<div class="modal__content">Вы действительно хотите отменить пару?</div>
	<div class="modal__footer align-center"><button class="button--color-{{request.user.userprofile.accent}}">ОК</button><button class="modal__discard">Отмена</button></div>
</div>

<script type="text/javascript">
	$(function() {
		var addHomework = new Modal($('#addHomeworkModal'));
		var addControl = new Modal($('#addControlModal'));
		var changePlace = new Modal($('#changePlaceModal'));
		var transferLesson = new Modal($('#transferLessonModal'));
		var cancelLesson = new Modal($('#cancelLessonModal'));

		$('#dropdownAddHomework').click(function() { addHomework.show(); });
		$('#dropdownAddControl').click(function() { addControl.show(); });
		$('#dropdownChangePlace').click(function() { changePlace.show(); });
		$('#dropdownTransferLesson').click(function() { transferLesson.show(); });
		$('#dropdownCancelLesson').click(function() { cancelLesson.show(); });
	});
</script>

{% verbatim %}
<script src="text/html" id="DayTimetableItemTemplate">
	<div class="time">{{time}}<br>
		{{#if double}}
		<div class="blue-fg bold" style="font-size:0.6em;">две пары</div>
		{{/if}}
		{{#if is_earlier}}
		<div class="red-fg bold" style="font-size:0.6em;">начнется раньше</div>
		{{/if}}
		<button class="button--icon-only button--size-small bold button--circle" data-dropdown-target="timetableMenu"><i class="flaticon-more"></i></button>		
	</div>
	<div class="subject {{type_css}} {{#if is_ended}}ended{{/if}}">
		<div class="title">{{title}}</div>
		{{#if is_canceled}}
			<div class="alert alert--color-red"><div class="alert__header">Пара отменена</div></div>
		{{else}}
			<div class="meta">{{teacher}}
			<br>{{place}} - {{type}}</div>
		{{#if control}}
			<div class="homework"><div class="homework__title">Проверочная работа</div>{{control}}</div>
		{{/if}}
		{{#if homework}}
			<div class="homework"><div class="homework__title">Домашнее задание</div>{{homework}}</div>
		{{/if}}	
		{{#if new_place}}
			<div class="alert alert--color-red"><div class="alert__header">Аудитория изменилась на {{new_place}}</div></div>
		{{/if}}
		{{/if}}
		<br>
	</div>
</script>

<script src="text/html" id="DayTimetableHoliday">
	<div class="align-center">
		<h1 class="helvetica-thin"><img src="/media/img/day_off.png" style="width: 6em;"><br>Выходной</h1>
		<p class="helvetica-light">На этот день пар не назначено</p>
		<button class="{% endverbatim %}button--color-{{request.user.userprofile.accent}}{% verbatim %} showNextDay">Расписание на следующий день</button>
	</div>
</script>

<script src="text/html" id="WeekTimetableItemTemplate">
	<div class="card__header"><div class="card__header__title">{{day}}</div></div>
	<div class="card__content padding-0">
		{{#if timetable}}
			<div class="vertical-layout vertical-layout--stripped">
			{{#each timetable}}
				<div class="row padding-1">{{time}} -> {{title}}</div>
			{{/each}}		
			</div>
		{{else}}
		<b class="margin-1">Выходной</b>
		{{/if}}
	</div>

</script>

<script src="text/html" id="dayTimetableViewErrorTemplate">
	<div class="red-fg align-center">
		<h3>Возникла ошибка</h3>
		<p>Проверьте ваше интернет-соединение или правильность отправляемых данных</p>
	</div>
</script>
{% endverbatim %}

{% endblock %}