{% extends 'basic/beta_base.html' %}
{% block title %}{{title}}{% endblock %}
{% block more_head %}
	<link href="/media/static/css/more_css/timetable.css" rel="stylesheet"/>
	<script type="text/javascript" src="/media/static/js/more_js/timetable.js"></script>
{% endblock %}
{% block bodyclass %}{{request.user.userprofile.theme}}-bg{% endblock %}
{% block content %}
<div class="card  {% if request.user.userprofile.theme == 'dark'%}card--color-black card--colored{%endif%} card--no-smooth" style="margin-left: 0.25em; margin-right: 0.25em; overflow: hidden;">
	<div class="card__content card__content--no-padding">
		
		<div class="grid">
			<div class="col-12">
				<div class="col-6 col-lm-6 offset-3 offset-lm-0 align-center">
					<div class="button-group" style="display: block;">
						<button class="button--icon-only {% if request.user.userprofile.theme == 'dark' %}button--color-white{% else %}button--color-black{% endif %} button--transparent-full showPrevDay"><i class="flaticon-left"></i></button>
						<button class="{% if request.user.userprofile.theme == 'dark' %}button--color-white{% else %}button--color-black{% endif %} bold button--transparent-full" id="currentDayLabel">{% now "j E" %}</button>
						<button class="button--icon-only {% if request.user.userprofile.theme == 'dark' %}button--color-white{% else %}button--color-black{% endif %} button--transparent-full showNextDay"><i class="flaticon-right1"></i></button>
					</div>
				</div>	
				<!-- <div class="col-4 col-m-4 align-center">
					<div class="tabs tabs--transparent tabs--centered">
						<div class="tabs__item tabs__item--active">ДЕНЬ</div>
						<div class="tabs__item">НЕДЕЛЯ</div>
						<div class="tabs__item">МЕСЯЦ</div>
					</div>
				</div> -->
			</div>			
		</div>

		<div class="timetable-view">
			<div class="timetable-view__label {{request.user.userprofile.accent}}-bg white-fg" id="timetable-label">
				<div class="timetable-view__label__title">22 марта</div>
				<div class="timetable-view__label__meta">вторник, нечетная неделя</div>
			</div>

			<div class="timetable-view__content" id="dayView">
				
			</div>
		</div>



		<!-- <div class="horizontal-layout horizontal-layout--centered">


			
			<div class="column column--centered">
				<div class="button-group">
					<button class="button--icon-only {% if request.user.userprofile.theme == 'dark' %}button--color-white{% else %}button--color-black{% endif %} button--transparent-full showPrevDay"><i class="flaticon-left"></i></button>
					<button class="{% if request.user.userprofile.theme == 'dark' %}button--color-white{% else %}button--color-black{% endif %} bold button--transparent-full" id="currentDayLabel">{% now "j E" %}</button>
					<button class="button--icon-only {% if request.user.userprofile.theme == 'dark' %}button--color-white{% else %}button--color-black{% endif %} button--transparent-full showNextDay"><i class="flaticon-right1"></i></button>
				</div>
			</div>
			<div class="column">
				<div class="tabs tabs--pin-right tabs--transparent {% if request.user.userprofile.theme == 'dark' %}tabs--invert{% endif %}" id="switch-view-tabs">
					<a href="#"><div class="tabs__item tabs__item--active" id="day">День</div></a>
					<a href="#week/20"><div class="tabs__item" id="week">Неделя</div></a>
					<a href="#month"><div class="tabs__item" id="month">Месяц</div></a>
				</div>
			</div>
		</div> -->		
	</div>
</div>	

{% verbatim %}
<script src="text/html" id="DayTimetableItemTemplate">
	<div class="time">{{time}}</div>
	<div class="subject {{type_css}} {{#if is_ended}}ended{{/if}}">
		<div class="title">{{title}}</div>
		{{#if is_canceled}}
		<div class="alert alert--color-red"><div class="alert__header">Пара отменена</div></div>
		{{else}}
		<div class="meta">{{teacher}}
		<br>{{place}} - {{type}}</div>
		{{#if control}}
			<div class="homework"><div class="homework__title">Проверочная работа</div>{{control}}</div>
		{{/if}}
		{{#if homework}}
			<div class="homework"><div class="homework__title">Домашнее задание</div>{{homework}}</div>
		{{/if}}
		{{/if}}
	</div>
</script>

<script src="text/html" id="DayTimetableHoliday">
	<div class="align-center">
		<h1 class="helvetica-thin"><i class="flaticon-star"></i><br>Выходной</h1>
		<p class="helvetica-light">На этот день пар не назначено</p>
		<button class="showNextDay">Расписание на следующий день</button>
	</div>
</script>

<script src="text/html" id="WeekTimetableItemTemplate">
	<div class="horizontal-layout week-timetable">		
		<div class="column date"><h1>{{date}}</h1>{{month}}</div>
		{{#each timetable}}
			<div class="column {{type_css}}"><h1>{{title}}</h1>
			{{place}} <br>
			<b> {{time}} </b></div>
		{{/each}}
	</div>
</script>

<script src="text/html" id="dayTimetableViewErrorTemplate">
	<div class="red-fg align-center">
		<h3>Возникла ошибка</h3>
		<p>Проверьте ваше интернет-соединение или правильность отправляемых данных</p>
	</div>
</script>
{% endverbatim %}

{% endblock %}