@import url(http://fonts.googleapis.com/css?family=PT+Sans:700,400);
@import 'https://fonts.googleapis.com/css?family=El+Messiri:400,700&subset=cyrillic';
@import 'https://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic';
.pt {
  font-family: 'PT Sans', 'Segoe UI', sans-serif;
}
.pt {
  font-family: 'PT Sans', 'Segoe UI', sans-serif;
}
.gamefont {
  font-family: 'El Messiri', sans-serif;
}
.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}
.technology-list {
  display: block;
  font-family: 'Ubuntu', sans-serif;
}
.technology-list .technology-list__title {
  margin: 0.5em;
  font-size: 1.25em;
  font-family: 'Ubuntu', sans-serif;
}
.technology-list .technology-list__item {
  display: flex;
  align-items: center;
}
.technology-list .technology-list__item .technology-list__item__icon {
  flex: 1;
  max-width: 2em;
  max-height: 2em;
  height: 2em;
  border-radius: 50%;
  border: 1px solid #fbbd08;
  margin: 0.5em;
}
.technology-list .technology-list__item .technology-list__item__info {
  flex: 1;
  padding: 0.5em;
}
.technology-list .technology-list__item .technology-list__item__info .technology-list__item__title {
  color: #f1ff52;
}
.technology-info {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
}
.technology-info .technology-info__top {
  display: flex;
  align-items: center;
}
.technology-info .technology-info__top .icon {
  flex: 1;
  max-width: 128px;
  max-height: 128px;
  height: 128px;
  border-radius: 50%;
  margin: 1em;
  box-sizing: border-box;
}
.technology-info .technology-info__top .description {
  flex: 4;
}
.technology-info .technology-info__top .description .title {
  font-size: 1.5em;
  font-family: 'El Messiri', sans-serif;
}
.technology-info .technology-info__top .description .desc {
  color: #999999;
  font-size: 0.9em;
  font-family: 'Ubuntu', sans-serif;
}
.technology-info .technology-info__top .buttons {
  flex: 1;
  text-align: center;
}
.technology-info .technology-info__top .buttons .time {
  font-size: 0.85em;
  color: #f5f5f5;
  font-family: 'Ubuntu', sans-serif;
}
.technology-info .block {
  margin: 1em 0em;
  font-family: 'Ubuntu', sans-serif;
}
.technology-info .block .title {
  color: #fbbd08;
  margin: 0em 0.25em;
  font-size: 1.1em;
}
.technology-info .block .text {
  color: #f5f5f5;
}
.dogmats .pyramid {
  text-align: center;
}
.dogmats .pyramid .round {
  content: "";
  width: 1.5em;
  height: 1.5em;
  margin: 0.5em;
  padding: 1em;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  background-size: 75% 75%;
  background-position: center;
  background-repeat: no-repeat;
}
.dogmats .pyramid .round.locked {
  background-color: #a5673f;
  opacity: 0.8;
  background-image: url(/media/img/ic/lock.png);
}
.dogmats .pyramid .round.active {
  background-color: #f2711c;
  background-image: url(/media/img/ic/unlock.png);
}
.dogmats .pyramid .round.unlocked {
  background-color: #fbbd08;
  background-image: url(/media/img/ic/ok.png);
}
.dogmats .dogmats-list {
  overflow: hidden;
}
.dogmats .dogmats-list .dogmat {
  display: block;
  width: 100%;
  float: left;
  color: #ffffff;
  padding: 1em;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
}
.dogmats .dogmats-list .dogmat:active {
  background-color: #6435c9;
}
.game-buttons {
  position: fixed;
  width: 244px;
  text-align: center;
  left: 2em;
  bottom: 1em;
}
.game-buttons .game-buttons__button {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  background-size: 100%;
  cursor: pointer;
  float: left;
  margin: 0px 4px !important;
  transition: none !important;
  background-color: transparent;
  border: none;
  opacity: 0.8;
  z-index: 2;
}
.game-buttons .game-buttons__button:hover {
  opacity: 1;
}
.game-buttons .game-buttons__button.science {
  background-image: url('/media/game/ui/science_btn.png');
}
.game-buttons .game-buttons__button.production {
  background-image: url('/media/game/ui/production_btn.png');
}
.game-buttons .game-buttons__button.faith {
  background-image: url('/media/game/ui/faith_btn.png');
}
.game-buttons .game-buttons__hr {
  background-image: url('/media/game/icons/wood_texture.png');
  height: 6px;
  width: 225px;
  margin-left: 9px;
  position: fixed;
  bottom: 79px;
}
.buildings_window {
  background-color: transparent;
  width: 800px !important;
  min-width: 800px;
  max-width: 800px;
  height: 584px !important;
  min-height: 584px !important;
  max-height: 584px;
  left: calc(50% - 400px) !important;
  margin-left: 0px !important;
  background-image: url('/media/game/ui/window_panels.png');
  background-repeat: no-repeat;
  background-size: 800px 571px;
  content: "";
  top: 32px !important;
}
.buildings_window .title {
  margin-left: 200px;
  margin-top: 5px;
  width: 400px;
  height: 28px;
  text-align: center;
  font-size: 20px;
  color: #fce49a;
  font-family: 'El Messiri', sans-serif;
}
.buildings_window .buildings-list {
  display: inline-block;
  position: relative;
  left: 23px;
  top: 25px;
  width: 350px;
  height: 480px;
  overflow-y: auto;
  box-sizing: border-box;
}
.buildings_window .buildings-list .icon {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 14px 15px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.buildings_window .buildings-list .icon img {
  width: 100%;
  height: 100%;
}
.buildings_window .buildings-list .icon:hover img,
.buildings_window .buildings-list .icon:active img {
  -webkit-filter: brightness(110%);
  transition: all 0.15s linear;
}
.buildings_window .buildings-list .icon .action {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  bottom: -6px;
  left: 29px;
  background-size: 100%;
}
.buildings_window .buildings-list .icon .action.upgrade {
  background-image: url('/media/game/icons/upgrade.png');
}
.buildings_window .buildings-list .icon .action.wonder {
  background-image: url('/media/game/icons/wonder.png');
}
.buildings_window .buildings-list .icon .action.completed {
  background-image: url('/media/game/icons/ok.png');
}
.buildings_window .buildings-list .icon .action.exclusive {
  background-image: url('/media/game/icons/exclusive.png');
}
.buildings_window .buildings-list .icon .icon__progress {
  position: absolute;
  height: 8px;
  border: 1px solid #cd9903;
  border-radius: 5px;
  width: 80%;
  left: 10%;
  bottom: 6px;
  background-color: #1a69a4;
}
.buildings_window .buildings-list .icon .icon__progress .icon__progress__active {
  background-color: #2185d0;
  height: 8px;
  border-radius: 5px;
}
.buildings_window .info {
  display: inline-block;
  position: relative;
  left: 64px;
  top: 25px;
  width: 350px;
  max-width: 350px;
  height: 480px;
  overflow-y: auto;
  box-sizing: border-box;
}
.buildings_window .info .info__header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.buildings_window .info .info__header .info__header__text {
  flex: 2;
  display: inline-block;
  padding: 4px 12px;
  width: 200px;
  box-sizing: border-box;
}
.buildings_window .info .info__header .info__header__text .info__title {
  color: #fadd73;
  font-size: 1.15em;
  font-family: 'El Messiri', sans-serif;
}
.buildings_window .info .info__header .info__header__text .info__meta {
  color: #999999;
  font-size: 0.8em;
  font-family: 'Ubuntu', sans-serif;
}
.buildings_window .info .info__header .info__header__icon {
  flex: 1;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 4px 12px;
  box-sizing: border-box;
}
.buildings_window .info .info__header .info__header__icon img {
  width: 80px;
  height: 80px;
}
.buildings_window .info .info__block {
  margin: 12px;
  font-family: 'Ubuntu', sans-serif;
}
.buildings_window .info .info__block .info__block__title {
  color: #fadd73;
}
.buildings_window .info .info__block .info__block__p {
  color: #f5f5f5;
}
.buildings_window .build_button {
  width: 130px;
  height: 26px;
  position: relative;
  left: 333px;
  top: 40px;
  background-image: url('/media/game/ui/build_btn.png');
  content: "";
  cursor: pointer;
}
.buildings_window .build_button:hover {
  background-position: 133px 0px;
}
.science_window {
  background-color: transparent;
  width: 800px !important;
  min-width: 800px;
  max-width: 800px;
  height: 584px !important;
  min-height: 584px !important;
  max-height: 584px;
  left: calc(50% - 400px) !important;
  margin-left: 0px !important;
  background-image: url('/media/game/ui/science_window.png');
  background-repeat: no-repeat;
  background-size: 800px 571px;
  content: "";
  top: 32px !important;
}
.science_window .title {
  margin-left: 200px;
  margin-top: 5px;
  width: 400px;
  height: 28px;
  text-align: center;
  font-size: 20px;
  color: #fce49a;
  font-family: 'El Messiri', sans-serif;
}
.science_window .science-list {
  display: inline-block;
  position: relative;
  left: 24px;
  top: 27px;
  width: 759px;
  height: 100px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
.science_window .science-list .icon {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 10px;
  background-image: url('/media/game/ui/circle.png');
  background-size: 100%;
  vertical-align: middle;
  cursor: pointer;
  transition: all 0.3s linear;
}
.science_window .science-list .icon img {
  width: 73px;
  height: 73px;
  margin: 3px;
  border-radius: 50%;
}
.science_window .science-list .icon:hover img,
.science_window .science-list .icon:active img {
  -webkit-filter: brightness(110%);
  transition: all 0.15s linear;
}
.science_window .info {
  display: inline-block;
  position: relative;
  left: 64px;
  top: 25px;
  width: 350px;
  max-width: 350px;
  height: 480px;
  overflow-y: auto;
  box-sizing: border-box;
}
.science_window .info .info__header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.science_window .info .info__header .info__header__text {
  flex: 2;
  display: inline-block;
  padding: 4px 12px;
  width: 200px;
  box-sizing: border-box;
}
.science_window .info .info__header .info__header__text .info__title {
  color: #fadd73;
  font-size: 1.15em;
  font-family: 'El Messiri', sans-serif;
}
.science_window .info .info__header .info__header__text .info__meta {
  color: #999999;
  font-size: 0.8em;
  font-family: 'Ubuntu', sans-serif;
}
.science_window .info .info__header .info__header__icon {
  flex: 1;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 4px 12px;
  box-sizing: border-box;
}
.science_window .info .info__header .info__header__icon img {
  width: 80px;
  height: 80px;
}
.science_window .info .info__block {
  margin: 12px;
  font-family: 'Ubuntu', sans-serif;
}
.science_window .info .info__block .info__block__title {
  color: #fadd73;
}
.science_window .info .info__block .info__block__p {
  color: #f5f5f5;
}
.science_window .build_button {
  width: 130px;
  height: 26px;
  position: relative;
  left: 333px;
  top: 40px;
  background-image: url('/media/game/ui/build_btn.png');
  content: "";
  cursor: pointer;
}
.science_window .build_button:hover {
  background-position: 133px 0px;
}
