@import url(http://fonts.googleapis.com/css?family=PT+Sans:700,400);
@import 'https://fonts.googleapis.com/css?family=El+Messiri:400,700&subset=cyrillic';
@import 'https://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic';
.pt {
  font-family: 'PT Sans', 'Segoe UI', sans-serif;
}
.pt {
  font-family: 'PT Sans', 'Segoe UI', sans-serif;
}
.gamefont {
  font-family: 'El Messiri', sans-serif;
}
.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}
.technology-list {
  display: block;
  font-family: 'Ubuntu', sans-serif;
}
.technology-list .technology-list__title {
  margin: 0.5em;
  font-size: 1.25em;
  font-family: 'Ubuntu', sans-serif;
}
.technology-list .technology-list__item {
  display: flex;
  align-items: center;
}
.technology-list .technology-list__item .technology-list__item__icon {
  flex: 1;
  max-width: 2em;
  max-height: 2em;
  height: 2em;
  border-radius: 50%;
  border: 1px solid #fbbd08;
  margin: 0.5em;
}
.technology-list .technology-list__item .technology-list__item__info {
  flex: 1;
  padding: 0.5em;
}
.technology-list .technology-list__item .technology-list__item__info .technology-list__item__title {
  color: #f1ff52;
}
.technology-info {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
}
.technology-info .technology-info__top {
  display: flex;
  align-items: center;
}
.technology-info .technology-info__top .icon {
  flex: 1;
  max-width: 128px;
  max-height: 128px;
  height: 128px;
  border-radius: 50%;
  margin: 1em;
  box-sizing: border-box;
}
.technology-info .technology-info__top .description {
  flex: 4;
}
.technology-info .technology-info__top .description .title {
  font-size: 1.5em;
  font-family: 'El Messiri', sans-serif;
}
.technology-info .technology-info__top .description .desc {
  color: #999999;
  font-size: 0.9em;
  font-family: 'Ubuntu', sans-serif;
}
.technology-info .technology-info__top .buttons {
  flex: 1;
  text-align: center;
}
.technology-info .technology-info__top .buttons .time {
  font-size: 0.85em;
  color: #f5f5f5;
  font-family: 'Ubuntu', sans-serif;
}
.technology-info .block {
  margin: 1em 0em;
  font-family: 'Ubuntu', sans-serif;
}
.technology-info .block .title {
  color: #fbbd08;
  margin: 0em 0.25em;
  font-size: 1.1em;
}
.technology-info .block .text {
  color: #f5f5f5;
}
.dogmats .pyramid {
  text-align: center;
}
.dogmats .pyramid .round {
  content: "";
  width: 1.5em;
  height: 1.5em;
  margin: 0.5em;
  padding: 1em;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  background-size: 75% 75%;
  background-position: center;
  background-repeat: no-repeat;
}
.dogmats .pyramid .round.locked {
  background-color: #a5673f;
  opacity: 0.8;
  background-image: url(/media/img/ic/lock.png);
}
.dogmats .pyramid .round.active {
  background-color: #f2711c;
  background-image: url(/media/img/ic/unlock.png);
}
.dogmats .pyramid .round.unlocked {
  background-color: #fbbd08;
  background-image: url(/media/img/ic/ok.png);
}
.dogmats .dogmats-list {
  overflow: hidden;
}
.dogmats .dogmats-list .dogmat {
  display: block;
  width: 100%;
  float: left;
  color: #ffffff;
  padding: 1em;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
}
.dogmats .dogmats-list .dogmat:active {
  background-color: #6435c9;
}
.game-buttons {
  position: absolute;
  width: 244px;
  text-align: center;
  left: calc(50% - 122px);
  bottom: 50px;
}
.game-buttons .game-buttons__button {
  content: "";
  display: block;
  width: 65px;
  height: 65px;
  background-size: 142px 66px;
  cursor: pointer;
  float: left;
  margin: 0px 8px !important;
  transition: none !important;
  background-color: transparent;
  border: none;
  z-index: 2;
}
.game-buttons .game-buttons__button:hover {
  background-position: -77px 0px;
  opacity: .8;
}
.game-buttons .game-buttons__button.science {
  background-image: url('/media/game/icons/science_btn.png');
}
.game-buttons .game-buttons__button.production {
  background-image: url('/media/game/icons/production_btn.png');
}
.game-buttons .game-buttons__button.faith {
  background-image: url('/media/game/icons/faith_btn.png');
}
.game-buttons .game-buttons__hr {
  background-image: url('/media/game/icons/wood_texture.png');
  height: 6px;
  width: 225px;
  margin-left: 9px;
  position: fixed;
  bottom: 79px;
}
.buildings_window {
  background-color: transparent;
  width: 800px !important;
  min-width: 800px;
  max-width: 800px;
  height: 584px !important;
  min-height: 584px !important;
  max-height: 584px;
  left: calc(50% - 400px) !important;
  margin-left: 0px !important;
  background-image: url('/media/game/ui/window_panels.png');
  background-repeat: no-repeat;
  background-size: 800px 571px;
  content: "";
  top: 32px !important;
}
.buildings_window .title {
  margin-left: 200px;
  margin-top: 5px;
  width: 400px;
  height: 28px;
  text-align: center;
  font-size: 20px;
  color: #fce49a;
  font-family: 'El Messiri', sans-serif;
}
.buildings_window .build_button {
  width: 130px;
  height: 26px;
  position: relative;
  left: 333px;
  top: 524px;
  background-image: url('/media/game/ui/build_btn.png');
  content: "";
  cursor: pointer;
}
.buildings_window .build_button:hover {
  background-position: 133px 0px;
}
