@import url(http://fonts.googleapis.com/css?family=PT+Sans:700,400);
.pt {
  font-family: 'PT Sans', 'Segoe UI', sans-serif;
}
.pt {
  font-family: 'PT Sans', 'Segoe UI', sans-serif;
}
.timetable-view .timetable-view__label {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}
.timetable-view .timetable-view__label .timetable-view__label__title {
  font-size: 2em;
  font-family: HelveticaNeueThin, sans-serif;
  font-weight: 100;
  text-transform: lowercase;
}
.timetable-view .timetable-view__label .timetable-view__label__meta {
  font-size: 1em;
  font-family: HelveticaNeueLight, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.timetable-view .timetable-view__content {
  display: table;
  width: 100%;
}
.timetable-view .timetable-view__content .row {
  display: table-row;
  color: #333333;
}
.timetable-view .timetable-view__content .row .time {
  text-align: center;
  width: 3em;
  font-size: 1.5em;
  display: table-cell;
  font-family: HelveticaNeueThin;
  font-weight: 100;
}
.timetable-view .timetable-view__content .row .subject {
  padding: 0.5em;
}
.timetable-view .timetable-view__content .row .subject .title {
  font-size: 2em;
  font-weight: bold;
  font-family: HelveticaNeueBold, sans-serif;
}
.timetable-view .timetable-view__content .row .subject .meta {
  font-size: 0.9em;
  font-family: HelveticaNeueLight, sans-serif;
}
.timetable-view .timetable-view__content .row .subject.lection {
  background-color: #74e68f;
}
.timetable-view .timetable-view__content .row .subject.practice {
  background-color: #85c0ec;
}
.timetable-view .timetable-view__content .row .subject.lab {
  background-color: #ed9595;
}
@media (max-width: 767px) {
  .timetable-view .timetable-view__label .timetable-view__label__meta {
    font-size: 0.7em;
  }
  .timetable-view .timetable-view__content .row .time {
    font-size: 1.3em;
  }
  .timetable-view .timetable-view__content .row .subject .title {
    font-size: 1.25em;
  }
}
