@import "vars.less";

.timetable-view {
	.timetable-view__label {
		width: 100%;
		padding: 16px;
		box-sizing: border-box;

		.timetable-view__label__title {
			font-size: 2em;
			font-family: HelveticaNeueThin, sans-serif;
			font-weight: 100;
			text-transform: lowercase;
		}

		.timetable-view__label__meta {
			font-size: 1em;
			font-weight: 500;
			text-transform: uppercase;
		}
	}

	.timetable-view__content-day {
		display: table;
		width: 100%;
		opacity: 1;
		.anim(0.15s);

		.row {
			display: flex;
			color: @d-gray;

			.time {
				text-align: center;
				width: 3em;
				font-size: 1.5em;
				font-family: HelveticaNeueThin;
				font-weight: 100;
				flex: 1;
			}

			.subject {
				padding: 0.5em;
				flex: 9;

				.title {
					font-size: 2em;
					font-weight: bold;
					font-family: HelveticaNeueBold, sans-serif;
				}

				.meta {
					font-size: 0.9em;
					font-family: HelveticaNeueMedium, sans-serif;
				}

				.homework {
					width: 100%;
					background-color: @u-gray;
					color: @d-gray;
					padding: 0.5em 1em;
					box-sizing: border-box;
					margin-top: 0.5em;

					.homework__title {
						text-transform: uppercase;
						font-weight: bold;
					}
				}

				&.lection {
					background-color: lighten(@olive, 25%);

					.homework {
						background-color: lighten(@olive, 20%);
					}
				}

				&.practice {
					background-color: lighten(@blue, 25%);

					.homework {
						background-color: lighten(@blue, 20%);
					}
				}

				&.lab {
					background-color: lighten(@red, 25%);

					.homework {
						background-color: lighten(@red, 20%);
					}
				}

				&.ended {
					opacity: 0.5;
				}
			}
		}
	}

	.timetable-view__content-week {
		transform: scale(1);
		opacity: 1;
		.anim(0.15s);

		.row {
			display: flex;

			.date {
				text-align: center;
				flex: 1;

				.date__day {
					font-size: 3em;
				}
			}

			.shedule {
				flex: 5;

				.lesson {
					display: block;
					width: 100%;
					box-sizing: border-box;
					border-left: 5px solid @m-gray;
					padding: 0.5em 1em;

					&.lection {
						border-color: @olive;
					}

					&.practice {
						border-color: @blue; 
					}

					&.lab {
						border-color: @red; 
					}
				}
			}
		}
	}

	.timetable-view__content-month {
		transform: scale(1);
		opacity: 1;
		.anim(0.15s);

		.row {
			display: flex;
			.pt();

			.column {
				flex: 1;
				max-width: 14.28%;
				cursor: pointer;

				&:last-child {
					max-width: 14.32%;
				}
				
				&:hover, &:active {
					background-color: darken(@u-gray, 10%);
					.anim(0.3s);
				}

				.day {
					font-size: 2em;
				}

				&.no-select {
					background-color: transparent;
					.anim(0.3s);
				}

				.content {
					.meta {
						color: @m-gray;
						font-size: 0.9em;
					}

					.event {
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						margin: 0em -1em;
						width: ~"calc(100% + 2em)";
						padding: 0.25em 0.5em;
						box-sizing: border-box;
						font-size: 0.8em;
						margin-top: 1px;

						.time {
							font-weight: bold;
							margin-right: 0.25em;
						}
					}
				}				
			}
		}
	}
}

@media (max-width: @l-mobile) {
	.timetable-view {

		.timetable-view__label {
			.timetable-view__label__meta {
				font-size: 0.7em;
			}
		}

		.timetable-view__content-day {
			.row {
				.time {
					font-size: 1.3em;
				}
				.subject {
					.title {
						font-size: 1.25em;
					}
				}
			}
		}

		.timetable-view__content-month {
			&.vertical-layout--stripped {
				.row {
					background-color: @u-gray !important;					
				}
			}

			.row {
				display: block;

				.column {
					display: flex;
					max-width: 100%;

					&:last-child {
						max-width: 100%;
					}

					&.last-month {
						display: none;
					}

					.day {
						flex: 1;
						min-width: 25%;
					}

					&.no-select {
						background-color: transparent;
						.anim(0.3s);
					}

					.content {
						max-width: 75%;
						flex: 3;
					}					
				}
			}
		}

	}
}